<sp-spinner *ngIf="isLoading"></sp-spinner>
<div class="px-3">
    <div class="modal-header border-none pb-0">
        <h4 class="modal-title" id="modal-basic-title">{{'EXPERIENCE.EXP' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <form [formGroup]="expForm" (ngSubmit)="save()">
    
        <div class="modal-body">
            <div class="form-group">
                <label for="inputSchool">{{'EXPERIENCE.EXP_TITLE' | translate}}: <span class="obligatory">*</span></label>
                <input
                    formControlName="title"
                    type="text" 
                    class="form-control"
                    [ngClass]="{'is-valid': expForm.get('title').valid,
                                'is-invalid': !expForm.get('title').valid && expForm.get('title').touched}">
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('title').errors?.required">
                    {{'EXPERIENCE.EXP_TITLE_REQUIRED' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('title').errors?.minlength">
                    {{'EXPERIENCE.EXP_TITLE_MIN' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('title').errors?.maxlength">
                    {{'EXPERIENCE.EXP_TITLE_MAX' | translate}}.
                </div>
            </div>
            <div class="form-group">
                <label for="inputSchool">{{'EXPERIENCE.COMPANY' | translate}}: <span class="obligatory">*</span></label>
                <input
                    formControlName="company"
                    type="text" 
                    class="form-control"
                    [ngClass]="{'is-valid': expForm.get('company').valid,
                                'is-invalid': !expForm.get('company').valid && expForm.get('company').touched}">
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('company').errors?.required">
                    {{'EXPERIENCE.COMPANY_REQUIRED' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('company').errors?.minlength">
                    {{'EXPERIENCE.COMPANY_MIN' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('company').errors?.maxlength">
                    {{'EXPERIENCE.COMPANY_MAX' | translate}}.
                </div>
            </div>
            <div class="form-group">
                <label for="inputDegree">{{'EXPERIENCE.LOCATION' | translate}}: <span class="obligatory">*</span></label>
                <input
                    formControlName="location" 
                    type="text" 
                    class="form-control"
                    [ngClass]="{'is-valid': expForm.get('location').valid,
                                'is-invalid': !expForm.get('location').valid && expForm.get('location').touched}">
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('location').errors?.required">
                    {{'EXPERIENCE.LOCATION_REQUIRED' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('location').errors?.minlength">
                    {{'EXPERIENCE.LOCATION_MIN' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('location').errors?.maxlength">
                    {{'EXPERIENCE.LOCATION_MAX' | translate}}.
                </div>
            </div>
            <h5>{{'EXPERIENCE.DATE' | translate}}</h5>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="startDate">{{'EXPERIENCE.START' | translate}}: <span class="obligatory">*</span></label>
                    <div class="input-group">
                        <input 
                            formControlName="dateStart"
                            class="form-control" 
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            ngbDatepicker 
                            #start="ngbDatepicker"
                            [maxDate]="maxStartDate"
                            [minDate]="minStartDate"
                            [ngClass]="{'is-valid': expForm.get('dateStart').valid,
                                'is-invalid': !expForm.get('dateStart').valid && expForm.get('dateStart').touched}">
                        <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="start.toggle()" type="button">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                        </div>
                        <div class="invalid-feedback mt-3">
                            {{'EXPERIENCE.START_REQUIRED' | translate}}.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="endDate">{{'EXPERIENCE.END' | translate}}: <span class="obligatory">*</span></label>
                    <div class="input-group">
                        <input 
                            formControlName="dateEnd"
                            class="form-control" 
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            ngbDatepicker 
                            #end="ngbDatepicker"
                            [disabled]="expForm.get('dateStart')?.invalid"
                            [maxDate]="maxStartDate"
                            [minDate]="expForm.get('dateStart').value"
                            [ngClass]="{'is-valid': expForm.get('dateEnd').valid,
                                'is-invalid': !expForm.get('dateEnd').valid && expForm.get('dateEnd').touched}">
                        <div class="input-group-append">
                        <button 
                            class="btn btn-outline-secondary calendar"
                            (click)="end.toggle()"
                            type="button"
                            [disabled]="expForm.get('dateStart')?.invalid"
                        >
                            <i class="far fa-calendar-alt"></i>
                        </button>
                        </div>
                        <div class="invalid-feedback mt-3">
                            {{'EXPERIENCE.END_REQUIRED' | translate}}.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDegree">{{'EXPERIENCE.DESCRIPTION' | translate}}: <span class="obligatory">*</span></label>
                <textarea 
                    class="form-control" 
                    placeholder="{{'EXPERIENCE.DESCRIPTION_PLACEHOLDER' | translate}}"
                    formControlName="description"
                    rows="3"
                    [ngClass]="{'is-valid': expForm.get('description').valid,
                    'is-invalid': !expForm.get('description').valid && expForm.get('description').touched}"></textarea>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('description').errors?.required">
                    {{'EXPERIENCE.DESCRIPTION_REQUIRED' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('description').errors?.minlength">
                    {{'EXPERIENCE.DESCRIPTION_MIN' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="expForm.get('description').errors?.maxlength">
                    {{'EXPERIENCE.DESCRIPTION_MAX' | translate}}.
                </div>
            </div>
        </div>
        <div class="modal-footer border-none pt-0">
            <button type="submit" class="btn sp-btn-red"[disabled]="!expForm.valid">{{'SAVE' | translate}}</button>
        </div>

    </form>
</div>