<div class="d-flex">
    <button 
        type="button" 
        class="btn btn-outline-success btn-lg border-none text-success">
        <i class="fas fa-check"></i>
    </button>
    <button 
        type="button" 
        class="btn btn-outline-danger btn-lg mx-3 border-none text-danger">
        <i class="fas fa-times"></i>
    </button>
    <button 
        type="button" 
        class="btn btn-outline-warning btn-lg border-none text-warning">
        <i class="fas fa-question"></i>
    </button>
</div>