<div class="col mb-5" *ngIf="errorMsg">
    <div class="card">
        <div class="card-body">
            <sp-error-msg [errorMsg]="errorMsg"></sp-error-msg>
        </div>
    </div>
</div>

<div class="col-12 col-lg-6 col-xl mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted mb-2">{{'TOTAL_COUNT.JOBS' | translate}}</h6>
                    <span class="h2 mb-0"><sp-animated-digit [digit]="total?.jobs"></sp-animated-digit></span>
                </div>
                <div class="col-auto">
                    <h2 class="mb-0"><i class="text-muted fas fa-briefcase"></i></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-lg-6 col-xl mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted mb-2">{{'TOTAL_COUNT.CANDIDATES' | translate}}</h6>
                    <span class="h2 mb-0"><sp-animated-digit [digit]="total?.candidates"></sp-animated-digit></span>
                </div>
                <div class="col-auto">
                    <h2 class="mb-0"><i class="text-muted fas fa-users"></i></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-lg-6 col-xl mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted mb-2">{{'TOTAL_COUNT.APPLICATIONS' | translate}}</h6>
                    <span class="h2 mb-0"><sp-animated-digit [digit]="total?.applications"></sp-animated-digit></span>
                </div>
                <div class="col-auto">
                    <h2 class="mb-0"><i class="text-muted fas fa-paper-plane"></i></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-lg-6 col-xl mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted mb-2">{{'TOTAL_COUNT.ACCEPTED' | translate}}</h6>
                    <span class="h2 mb-0"><sp-animated-digit [digit]="total?.accepted"></sp-animated-digit></span>
                </div>
                <div class="col-auto">
                    <h2 class="mb-0"><i class="text-muted fas fa-check"></i></h2>
                </div>
            </div>
        </div>
    </div>
</div>