
.option-input {
  vertical-align: middle;
  appearance: none;
  position: relative;
  height: 18px;
  width: 18px;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 10%;
}
.option-input:hover {
  background: #ba00005d;
}
.option-input:checked {
  background: #ba0000;
  border: 2px solid #ba0000;
}
.option-input:checked::before {
  width: 100%;
  position: absolute;
  content: '✓';
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  line-height: 100%;
}
.option-input:checked::after {
  background: #a95454;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.checkbox-label {
  color: #323232;
  font-family: proxima nova alt rg;
  font-size: 16px;
  transition: all .5s ease 0s;
}

.filter-title {
  color: #525f7f;
  letter-spacing: .5px;
  font-family: proxima nova;
  font-size: 1rem;
  font-weight: 700;
  text-transform: none;
  padding: 0;
}

.card-header {
  padding: .75rem 1.25rem;
  background-color: #fff;
}

.count {
  float: right;
}

