<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h1 class="text-center">{{'PASSWORD.REQUEST_CODE.TITLE' | translate}}</h1>
    <p class="text-center">{{'PASSWORD.REQUEST_CODE.DESC' | translate}}</p>
    <h5 class="text-success mb-4" *ngIf="successMsg">{{successMsg}}</h5>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <div *ngIf="loginError?.length">
        <sp-error-msg *ngFor="let error of loginError" [errorMsg]="error"></sp-error-msg>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form role="form" [formGroup]="requestCodeForm" (ngSubmit)="requestPasswordRecoveryCode()">
                <!-- Email address -->
                <div class="form-control-group text-left mb-5">
                    <span>
                        <label for="emailInput">{{'PASSWORD.EMAIL' | translate}}:</label>
                        <a [routerLink]="['/auth/password-reset']" class="text-left" style="float: right;">
                            {{'PASSWORD.REQUEST_CODE.HAVE_CODE' | translate}}?
                        </a>
                    </span>
                    <input 
                        type="email"
                        class="form-control"
                        placeholder="{{'PASSWORD.EMAIL_PLACEHOLDER' | translate}}"
                        formControlName="email"
                        pattern=".+@.+\..+">
                    <div *ngIf="requestCodeForm.get('email').touched && requestCodeForm.get('email').errors">
                        <p 
                            class="text-danger"
                            *ngIf="requestCodeForm.get('email').errors.required">
                            {{'PASSWORD.EMAIL_REQUIRED' | translate}} !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="requestCodeForm.get('email').errors.pattern">
                            {{'PASSWORD.EMAIL_VALID' | translate}} !
                        </p>
                    </div>
                </div>
                
                <!-- Submit -->
                <button type="submit" class="btn btn-block mb-3" [disabled]="!requestCodeForm.valid">{{'SUBMIT' | translate}}</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p>{{'AUTH.DONT_HAVE_ACCOUNT' | translate}}? <a [routerLink]="['/auth/signup']"><u style="color: #ba0000;">{{'AUTH.REGISTER' | translate}}</u></a>, {{'AUTH.OR' | translate}} <a [routerLink]="['/auth/signin']"><u style="color: #ba0000;">{{'AUTH.SIGNIN' | translate}}</u></a></p>
        </div>
    </div>
</div>
