<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h1 class="text-center">Forgot password</h1>
    <p class="text-center">Enter your email address and we’ll send a link and a code to reset your password</p>
    <h5 class="text-success mb-4" *ngIf="successMsg">{{successMsg}}</h5>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <div *ngIf="loginError?.length">
        <sp-error-msg *ngFor="let error of loginError" [errorMsg]="error"></sp-error-msg>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form role="form" [formGroup]="requestCodeForm" (ngSubmit)="requestPasswordRecoveryCode()">
                <!-- Email address -->
                <div class="form-control-group text-left mb-5">
                    <span>
                        <label for="emailInput">Email address:</label>
                        <a [routerLink]="['/auth/password-reset']" class="text-left" style="float: right;">
                            Have a code?
                        </a>
                    </span>
                    <input 
                        type="email"
                        class="form-control"
                        placeholder="Enter email"
                        formControlName="email"
                        pattern=".+@.+\..+">
                    <div *ngIf="requestCodeForm.get('email').touched && requestCodeForm.get('email').errors">
                        <p 
                            class="text-danger"
                            *ngIf="requestCodeForm.get('email').errors.required">
                            Email is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="requestCodeForm.get('email').errors.pattern">
                            Email must be a valid email address !
                        </p>
                    </div>
                </div>
                
                <!-- Submit -->
                <button type="submit" class="btn btn-block mb-3" [disabled]="!requestCodeForm.valid">Submit</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p>Don't have an account? <a [routerLink]="['/auth/signup']"><u style="color: #ba0000;">Register</u></a>, or <a [routerLink]="['/auth/signin']"><u style="color: #ba0000;">Sign In</u></a></p>
        </div>
    </div>
</div>
