<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h1 class="text-center">Sign Up</h1>

    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <div *ngIf="signupError?.length">
        <sp-error-msg *ngFor="let error of signupError" [errorMsg]="error"></sp-error-msg>
    </div>
    <h4 *ngIf="successMsg"  class="success-msg">{{successMsg}}</h4>

    <!-- <div class="row justify-content-center">  
        <button (click)="socialSignUp('facebook')" type="button" class="sp-btn btn-facebook">
            <i class="fab fa-facebook-square"></i>  Sign Up with facebook
        </button>
        <button (click)="socialSignUp('google')" type="button" class="sp-btn btn-google">
            <i class="fab fa-google"></i>  Sign Up with google
        </button>  
    </div>
    <hr>
    <h5>Or Sign Up with your email</h5> -->
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form role="form" [formGroup]="signupForm" (ngSubmit)="signup()">

                <!-- Full name -->
                <div class="form-control-group text-left mb-3">
                    <label for="fullNameInput">Full name:</label>
                    <input 
                        formControlName="fullname"
                        class="form-control"
                        placeholder="Full name"
                        pattern="[a-zA-Z]+\s[a-zA-Z]+(\s[a-zA-Z]+)?"
                        type="text">
                    <div *ngIf="signupForm.get('fullname').touched && signupForm.get('fullname').errors">
                        <p 
                            class="text-danger"
                            *ngIf="signupForm.get('fullname').errors.required">
                            Full name is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="signupForm.get('fullname').errors.pattern">
                            Full name must contains 2 or 3 words and only alphabetic characters !
                        </p>
                    </div>
                </div>

                <!-- Email address -->
                <div class="form-control-group text-left mb-3">
                    <label for="emailInput">Email address:</label>
                    <input 
                        type="email"
                        class="form-control"
                        placeholder="Enter email"
                        formControlName="email"
                        pattern=".+@.+\..+">
                    <div *ngIf="signupForm.get('email').touched && signupForm.get('email').errors">
                        <p 
                            class="text-danger"
                            *ngIf="signupForm.get('email').errors.required">
                            Email is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="signupForm.get('email').errors.pattern">
                            Email must be a valid email address !
                        </p>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-control-group text-left mb-3">
                    <label for="passwordInput">Password:</label>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        formControlName="password">
                    <div *ngIf="signupForm.get('password').touched && signupForm.get('password').errors">
                        <p 
                            class="text-danger"
                            *ngIf="signupForm.get('password').errors.required">
                            Password is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="signupForm.get('password').errors.minlength">
                            Password must be at least 8 characters !
                        </p>
                    </div>
                </div>

                <!-- Retyped password -->
                <div class="form-control-group text-left mb-3">
                    <label for="RetypedPasswordInput">Repeat password:</label>
                    <input
                        type="isAgree"
                        class="form-control"
                        placeholder="Confirm Password"
                        formControlName="retypedPassword">
                    <div *ngIf="signupForm.get('retypedPassword').touched && signupForm.get('retypedPassword').errors">
                        <p 
                            class="text-danger"
                            *ngIf="signupForm.get('retypedPassword').errors.required">
                            Password confirmation is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="signupForm.get('retypedPassword').errors.mustMatch">
                            Passwords must match !
                        </p>
                    </div>
                </div>

                <!-- Agree -->
                <div class="form-control-group form-check text-left mb-3">
                    <input 
                        type="checkbox"
                        class="form-check-input"
                        formControlName="isAgree">
                    <label for="agreeInput" class="form-check-label">
                        I agree to let Spark-it keep my information for future purposes.
                    </label>
                    <div *ngIf="signupForm.get('isAgree').touched && !signupForm.get('isAgree').value">
                        <p class="text-danger">
                            You Should agree to let Spark-it keep your information for future purposes !
                        </p>
                    </div>
                </div>
                
                <!-- Submit -->
                <button type="submit" class="btn btn-block mb-3" [disabled]="!signupForm.valid || !signupForm.get('isAgree').value">Sign up</button>

            </form>
            <sp-social-authentication
                (outputIsLoading)="getSocialAuthIsLoading($event)"
                (outputerrorMsg)="getSocialAutherrorMsg($event)"
                (outputAuth)="getSocialAuthTrue($event)"
                [location]="'signup'">

            </sp-social-authentication>
        </div>
        <div class="vertical-space-30"></div>
        <p>Already have an account? <a [routerLink]="['/auth/signin']"><u style="color: #ba0000;">Sign In</u></a></p>
    </div>
</div>