.sp-btn {
    margin: 5px;
    width: 300px;
}

.btn-google {
    color: #fff;
    background: #dd4b39;
}

.btn-facebook {
    color: #fff;
    background: #3b5998;
}

.btn-facebook:hover {
    background-color:#fff;
    color:#3b5998;
    border:1px solid #3b5998;
    transition:all .5s ease 0s
}

.btn-google:hover {
    background-color:#fff;
    color:#dd4b39;
    border:1px solid #dd4b39;
    transition:all .5s ease 0s
}

.sp-input-white {
    background: #f5f5f5;
}