<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h3>Sign Up</h3>
    <div class="vertical-space-30"></div>
    <div class="row justify-content-center">  
        <button (click)="socialSignUp('facebook')" type="button" class="sp-btn btn-facebook">
            <i class="fab fa-facebook-square"></i>  Sign Up with facebook
        </button>
        <button (click)="socialSignUp('google')" type="button" class="sp-btn btn-google">
            <i class="fab fa-google"></i>  Sign Up with google
        </button>  
    </div>
    <hr>
    <h5>Or Sign Up with your email</h5>
    <div class="vertical-space-30"></div>
    <sp-error-msg *ngIf="error_msg" [error_msg]="error_msg"></sp-error-msg>
    <div *ngIf="login_error?.length">
        <sp-error-msg *ngFor="let error of login_error" [error_msg]="error"></sp-error-msg>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form role="form" [formGroup]="signupForm" (ngSubmit)="signup()">

                <!-- Full name -->
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                    <div class="input-group input-group-alternative sp-border">
                      <div class="input-group-prepend">
                        <span class="input-group-text sp-input-white"><i class="fas fa-user"></i></span>
                      </div>
                      <input
                        formControlName="fullname"
                        class="form-control sp-input-white"
                        placeholder="Full name" 
                        type="text" 
                        (focus)="focus=true" 
                        (blur)="focus=false">
                    </div>
                    <div class="text-left" *ngIf="signupForm.get('fullname').touched && signupForm.get('fullname').errors">
                      <span 
                        class="help-block"
                        *ngIf="signupForm.get('fullname').errors.required">
                        Full name is required !
                      </span>
                    </div>
                </div>

                <!-- Email address -->
                <div class="form-group mb-3" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative sp-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text sp-input-white"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input
                            formControlName="email"
                            class="form-control sp-input-white"
                            placeholder="Email address"
                            pattern=".+@.+\..+"
                            type="email"
                            (focus)="focus1=true"
                            (blur)="focus1=false">
                    </div>
                    <div class=" text-left" *ngIf="signupForm.get('email').touched && signupForm.get('email').errors">
                        <span 
                            class="help-block"
                            *ngIf="signupForm.get('email').errors.required">
                            Email is required !
                        </span>
                        <span 
                            class="help-block"
                            *ngIf="signupForm.get('email').errors.pattern">
                            Email must be a valid email address !
                        </span>
                    </div>  
                </div>

                <!-- Password -->
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                    <div class="input-group input-group-alternative sp-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text sp-input-white"><i class="fas fa-lock"></i></span>
                        </div>
                        <input
                            formControlName="password"
                            class="form-control sp-input-white"
                            placeholder="Password"
                            type="password"
                            (focus)="focus2=true"
                            (blur)="focus2=false">
                    </div>
                    <div class=" text-left" *ngIf="signupForm.get('password').touched && signupForm.get('password').errors">
                        <span 
                            class="help-block"
                            *ngIf="signupForm.get('password').errors.required">
                            Password is required !
                        </span>
                        <span 
                            class="help-block"
                            *ngIf="signupForm.get('password').errors.minlength">
                            Password must be at least 8 characters !
                        </span>
                    </div>
                </div>

                <!-- Retyped password -->
                <div class="form-group" [ngClass]="{'focused':focus3===true}">
                    <div class="input-group input-group-alternative sp-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text sp-input-white"><i class="fas fa-lock"></i></span>
                        </div>
                        <input
                            formControlName="retypedPassword"
                            class="form-control sp-input-white"
                            placeholder="Retype password"
                            type="password"
                            (focus)="focus3=true"
                            (blur)="focus3=false">
                    </div>
                    <div class="text-left" *ngIf="signupForm.get('retypedPassword').touched && signupForm.get('retypedPassword').errors">
                        <span 
                            class="help-block"
                            *ngIf="signupForm.get('retypedPassword').errors.required">
                            Confirm Password is required !
                        </span>
                        <span 
                            class="help-block"
                            *ngIf="signupForm.get('retypedPassword').errors.mustMatch">
                            Passwords must match !
                        </span>
                    </div>
                </div>

                <!-- Agree -->
                <div class="row my-4">
                    <div class="col-12">
                        <div class="custom-control custom-control-alternative custom-checkbox text-left">
                            <input
                            formControlName="isAgree"
                            class="custom-control-input"
                            id="customCheckRegister" 
                            type="checkbox">
                            <label class="custom-control-label" for="customCheckRegister">
                            <span>
                                I agree to let Spark-it keep my information for future purposes.
                            </span>
                            </label>
                        </div>
                        <div *ngIf="signupForm.get('isAgree').touched && !signupForm.get('isAgree').value">You Should agree to let Spark-it keep your information for future purposes !</div>
                    </div>
                </div>
                
                <!-- Submit -->
                <div class="row justify-content-center">
                    <button type="submit" class="sp-btn sp-btn-red" [disabled]="!signupForm.valid">Sign up</button>
                </div>
            </form>
        </div>
        <div class="vertical-space-30"></div>
        <p>Already have an account? <a [routerLink]="['/auth/signin']"><u>Sign In</u></a></p>
    </div>
</div>