<sp-spinner *ngIf="isLoading"></sp-spinner>
<form [formGroup]="jobForm">

    <h3 class="text-danger text-center my-3">{{errorMsg}}</h3>
    <div class="form-group">
        <label for="inputTitle">{{'JOB_FORM.TITLE' | translate}}: <span class="obligatory">*</span></label>
        <input
            formControlName="title"
            type="text" 
            class="form-control"
            [ngClass]="{'is-valid': jobForm.get('title').valid,
                        'is-invalid': !jobForm.get('title').valid && jobForm.get('title').touched}">
        <div class="invalid-feedback mt-3" *ngIf="jobForm.get('title').errors?.required">
            {{'JOB_FORM.TITLE_REQUIRED' | translate}}.
        </div>
        <div class="invalid-feedback mt-3" *ngIf="jobForm.get('title').errors?.minlength">
            {{'JOB_FORM.TITLE_MIN' | translate}}.
        </div>
        <div class="invalid-feedback mt-3" *ngIf="jobForm.get('title').errors?.maxlength">
            {{'JOB_FORM.TITLE_MAX' | translate}}.
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="startDate">{{'JOB_FORM.EMPLOYMENT' | translate}}: <span class="obligatory">*</span></label>
            <select 
                formControlName="employmentType"
                class="form-control custom-select"
                [ngClass]="{'is-valid': jobForm.get('employmentType').valid,
                            'is-invalid': !jobForm.get('employmentType').valid && jobForm.get('employmentType').touched}"
            >
                <option value="Full-time">{{'JOB_FORM.FUULTIME' | translate}}</option>
                <option value="Part-time">{{'JOB_FORM.PARTTIME' | translate}}</option>
                <option value="Contract">{{'JOB_FORM.CONTRACT' | translate}}</option>
                <option value="Temporary">{{'JOB_FORM.TEMPORARY' | translate}}</option>
                <option value="Volunteer">{{'JOB_FORM.VOLUNTEER' | translate}}</option>
                <option value="Internship">{{'JOB_FORM.INTERNSHIP' | translate}}</option>
            </select>
            <div class="invalid-feedback mt-3" *ngIf="jobForm.get('employmentType').errors?.required">
                {{'JOB_FORM.EMPLOYMENT_REQUIRED' | translate}}.
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="Seniority">{{'JOB_FORM.SENIORITY' | translate}}: <span class="obligatory">*</span></label>
            <select 
                formControlName="seniorityLevel"
                class="form-control custom-select"
                [ngClass]="{'is-valid': jobForm.get('seniorityLevel').valid,
                            'is-invalid': !jobForm.get('seniorityLevel').valid && jobForm.get('seniorityLevel').touched}"
            >
                <option value="0 to 2 years">0 {{'JOB_FORM.TO' | translate}} 2 {{'JOB_FORM.YEARS' | translate}}</option>
                <option value="3 to 5 years">3 {{'JOB_FORM.TO' | translate}} 5 {{'JOB_FORM.YEARS' | translate}}</option>
                <option value="6 to 9 years">6 {{'JOB_FORM.TO' | translate}} 9 {{'JOB_FORM.YEARS' | translate}}</option>
                <option value="10 years or more">10 {{'JOB_FORM.YEARSORMORE' | translate}}</option>
            </select>
            <div class="invalid-feedback mt-3" *ngIf="jobForm.get('seniorityLevel').errors?.required">
                {{'JOB_FORM.SENIORITY_REQUIRED' | translate}}.
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="location">{{'JOB_FORM.LOCATION' | translate}}: <span class="obligatory">*</span></label>
            <input
                formControlName="location"
                type="text" 
                class="form-control"
                [ngClass]="{'is-valid': jobForm.get('location').valid,
                            'is-invalid': !jobForm.get('location').valid && jobForm.get('location').touched}">
            <div class="invalid-feedback mt-3" *ngIf="jobForm.get('location').errors?.required">
                {{'JOB_FORM.LOCATION_REQUIRED' | translate}}.
            </div>
            <div class="invalid-feedback mt-3" *ngIf="jobForm.get('location').errors?.minlength">
                {{'JOB_FORM.LOCATION_MIN' | translate}}.
            </div>
            <div class="invalid-feedback mt-3" *ngIf="jobForm.get('location').errors?.maxlength">
                {{'JOB_FORM.LOCATION_MAX' | translate}}.
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="Seniority">{{'JOB_FORM.DEADLINE' | translate}}: <span class="obligatory">*</span></label>
            <div class="input-group">
                <input 
                    formControlName="deadline"
                    class="form-control" 
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    ngbDatepicker 
                    #start="ngbDatepicker"
                    [maxDate]="maxStartDate"
                    [minDate]="minStartDate"
                    [ngClass]="{'is-valid': jobForm.get('deadline').valid,
                                'is-invalid': !jobForm.get('deadline').valid && jobForm.get('deadline').touched}">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="start.toggle()" type="button">
                    <i class="far fa-calendar-alt"></i>
                </button>
                </div>
                <div class="invalid-feedback mt-3" *ngIf="jobForm.get('deadline').errors?.required">
                    {{'JOB_FORM.DEADLINE_REQUIRED' | translate}}.
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="d-flex mr-4">
                <label for="category">{{'JOB_FORM.CATEGORY' | translate}}: <span class="obligatory">*</span></label>
                <a (click)="addCategory()" type="button" class="ml-auto"><i class="fas fa-plus edit-btn-icon"></i></a>
            </div>
            <select 
                    formControlName="category"
                    class="form-control custom-select"
                    [ngClass]="{'is-valid': jobForm.get('category').valid,
                                'is-invalid': !jobForm.get('category').valid && jobForm.get('category').touched}"
                >
                    <option *ngFor="let cat of allCategories" [value]="cat?.id">{{cat?.label}}</option>
            </select>
            <div class="invalid-feedback mt-3" *ngIf="jobForm.get('category').errors?.required">
                {{'JOB_FORM.CATEGORY_REQUIRED' | translate}}.
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="d-flex mr-4">
                <label for="Skills">{{'JOB_FORM.SKILLS' | translate}}: <span class="obligatory">*</span></label>
                <a (click)="addSkill()" type="button" class="ml-auto"><i class="fas fa-plus edit-btn-icon"></i></a>
            </div>
            <select 
                multiple
                formControlName="skills"
                class="form-control custom-select"
                [ngClass]="{'is-valid': jobForm.get('skills').valid,
                            'is-invalid': !jobForm.get('skills').valid && jobForm.get('skills').touched}"
            >
                <option *ngFor="let skill of allSkills" [value]="skill?.id">{{skill?.label}}</option>
            </select>
            <div class="invalid-feedback mt-3" *ngIf="jobForm.get('skills').errors?.required">
                {{'JOB_FORM.SKILLS_REQUIRED' | translate}}.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="description">{{'JOB_FORM.DESCRIPTION' | translate}}: <span class="obligatory">*</span></label>
        <editor
            formControlName="description"
            [ngClass]="{'description-valid': jobForm.get('description').valid,
                        'description-invalid': !jobForm.get('description').valid && jobForm.get('description').touched}"
            [init]="{
                height: 250,
                menubar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                ],
                toolbar:
                    'undo redo | formatselect | bold italic backcolor | \
                    alignleft aligncenter alignright alignjustify | \
                    bullist numlist outdent indent | removeformat | help'
                }"
            ></editor>
        <div class="invalid-feedback mt-3" *ngIf="jobForm.get('description').errors?.required">
            {{'JOB_FORM.DESCRIPTION_REQUIRED' | translate}}.
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3 col-md-2" *ngIf="action === 'add'">
            <button (click)="onSave('saved')" class="btn btn-block sp-btn-red" [disabled]="!jobForm.valid">{{'JOB_FORM.SAVE' | translate}}</button>
        </div>
        <div class="col-sm-3 col-md-2">
            <button (click)="onSave()" type="submit" class="btn btn-block sp-btn-red" [disabled]="!jobForm.valid">{{'JOB_FORM.POST' | translate}}</button>
        </div>
    </div>


</form>