<!-- <sp-spinner *ngIf="isLoading"></sp-spinner> -->

<div class="card-body">
    <h1 class="text-center">{{'PASSWORD.PASS_CHANGE.TITLE' | translate}}</h1>
    <p class="text-center">{{'PASSWORD.PASS_CHANGE.DESC' | translate}}</p>
    <h5 class="text-success mb-4" *ngIf="successMsg">{{successMsg}}</h5>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form role="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">

                <div class="form-control-group text-left mb-3">
                    <label for="newPasswordInput">Current password:</label>
                    <input 
                        type="password"
                        class="form-control"
                        placeholder="Enter your current password"
                        formControlName="oldPassword">
                    <div *ngIf="passwordForm.get('oldPassword').touched && passwordForm.get('oldPassword').errors">
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('oldPassword').errors.required">
                            Current password is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('oldPassword').errors.minlength">
                            Current password must be at least 8 characters !
                        </p>
                    </div>
                </div>

                <div class="form-control-group text-left mb-3">
                    <label for="newPasswordInput">{{'PASSWORD.NEW' | translate}}:</label>
                    <input 
                        type="password"
                        class="form-control"
                        placeholder="{{'PASSWORD.NEW_PLACEHOLDER' | translate}}"
                        formControlName="newPassword">
                    <div *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').errors">
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newPassword').errors.required">
                            {{'PASSWORD.NEW_REQUIRED' | translate}} !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newPassword').errors.minlength">
                            {{'PASSWORD.NEW_MIN' | translate}} !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newPassword').errors.dontMatch">
                            {{'PASSWORD.NEW_MATCH' | translate}} !
                        </p>
                    </div>
                </div>

                <div class="form-control-group text-left mb-5">
                    <label for="newRetypedPasswordInput">{{'PASSWORD.RETYPED' | translate}}:</label>
                    <input 
                        type="password"
                        class="form-control"
                        placeholder="{{'PASSWORD.RETYPED_PLACEHOLDER' | translate}}"
                        formControlName="newRetypedPassword">
                    <div *ngIf="passwordForm.get('newRetypedPassword').touched && passwordForm.get('newRetypedPassword').errors">
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newRetypedPassword').errors.required">
                            {{'PASSWORD.RETYPED_REQUIRED' | translate}} !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newRetypedPassword').errors.minlength">
                            {{'PASSWORD.MIN' | translate}} !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newRetypedPassword').errors.mustMatch">
                            {{'PASSWORD.MATCH' | translate}} !
                        </p>
                    </div>
                </div>
                <!-- Submit -->
                <button type="submit" class="btn btn-block mb-3" [disabled]="!passwordForm.valid || isLoading">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    {{'SUBMIT' | translate}}
                </button>
            </form>
        </div>
    </div>
</div>
