<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h1 class="text-center">Change password</h1>
    <p class="text-center">Please set a new password</p>
    <h5 class="text-success mb-4" *ngIf="successMsg">{{successMsg}}</h5>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form role="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">

                <div class="form-control-group text-left mb-3">
                    <label for="newPasswordInput">Current password:</label>
                    <input 
                        type="password"
                        class="form-control"
                        placeholder="Enter your current password"
                        formControlName="oldPassword">
                    <div *ngIf="passwordForm.get('oldPassword').touched && passwordForm.get('oldPassword').errors">
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('oldPassword').errors.required">
                            Current password is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('oldPassword').errors.minlength">
                            Current password must be at least 8 characters !
                        </p>
                    </div>
                </div>

                <div class="form-control-group text-left mb-3">
                    <label for="newPasswordInput">New password:</label>
                    <input 
                        type="password"
                        class="form-control"
                        placeholder="Enter your new password"
                        formControlName="newPassword">
                    <div *ngIf="passwordForm.get('newPassword').touched && passwordForm.get('newPassword').errors">
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newPassword').errors.required">
                            New password is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newPassword').errors.minlength">
                            New password must be at least 8 characters !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newPassword').errors.dontMatch">
                            New password should be different to the current password !
                        </p>
                    </div>
                </div>

                <div class="form-control-group text-left mb-5">
                    <label for="newRetypedPasswordInput">Retype password:</label>
                    <input 
                        type="password"
                        class="form-control"
                        placeholder="Retype your new password"
                        formControlName="newRetypedPassword">
                    <div *ngIf="passwordForm.get('newRetypedPassword').touched && passwordForm.get('newRetypedPassword').errors">
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newRetypedPassword').errors.required">
                            Retyped new password is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newRetypedPassword').errors.minlength">
                            Retyped new password must be at least 8 characters !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="passwordForm.get('newRetypedPassword').errors.mustMatch">
                            Passwords must match !
                        </p>
                    </div>
                </div>
                <!-- Submit -->
                <button type="submit" class="btn btn-block mb-3" [disabled]="!passwordForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>
