.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #59595c;
    border-color: #59595c #59595c #59595c;
}

.nav-tabs .nav-link {
    border: 1px solid #59595c;
}

a {
    color: #59595c;
}