<sp-spinner *ngIf="isLoading"></sp-spinner>

<section id="intro">
    <sp-carousel title="{{'PAGE_JOB.CAROUSEL_TITLE' | translate}}" [text]="''"></sp-carousel>
</section>

<section id="job-Details" class="background-color-white-drak" style="padding: 5%;">
    <div class="card">
        <div class="card-header bg-white d-flex">
            <h3>{{job?.title | titlecase }}</h3>
            <sp-change-job-status
              *ngIf="isRecruiter" 
              class="ml-auto"
              [jobID]="job?.id"
              [status]="job?.status"
              (newDeadline)="newDeadline($event)">
            </sp-change-job-status>
        </div>
        <!-- Candidate view -->
        <div *ngIf="!isRecruiter" class="card-body">
            <sp-error-msg [errorMsg]="getJobError" *ngIf="!isLoading && getJobError"></sp-error-msg>
            <sp-job-card-detail id="info" [job]="job" *ngIf="!isRecruiter && !getJobError && !isLoading"></sp-job-card-detail>
        </div>

        <!-- Recruiter view -->
        <div *ngIf="isRecruiter" class="card-body">
          <sp-error-msg [errorMsg]="getJobError" *ngIf="!isLoading && getJobError"></sp-error-msg>

          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-fill">
              <li [ngbNavItem]="1">
                <a ngbNavLink>{{ 'PAGE_JOB.INFORMATION' | translate }}</a>
                <ng-template ngbNavContent>
                  <sp-job-card-detail [job]="job" *ngIf="!getJobError && !isLoading"></sp-job-card-detail>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink>{{ 'PAGE_JOB.CANDIDATES' | translate }}</a>
                <ng-template ngbNavContent>
                  <sp-candidate-list [jobID]=job?.id [columnDecision]="true"></sp-candidate-list>
                </ng-template>
              </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="pt-4"></div>
        </div>
    </div>
      
    
      
</section>


