section {
    padding: 5% 0;
    background-color: #fff;
    background-image: url(src/assets/images/auth-background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-layout {
    // box-shadow: 0 6px 11px 0 #484646;
    border: .0625rem solid #e4e9f2;
    border-radius: .25rem;
    text-align: center;
    background: #fff;
}

.card-header {
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: .25rem;
}

i {
    font-size: 2rem;
    vertical-align: middle;
    color: #ba0000;
}

.social-network-header {
    font-size: 20px; 
    color: #59595c;
    vertical-align: middle;
}