<nav class="sticky-top">
    <div class="top_bar d-none d-lg-block" style="background: white; padding: 1.5%;">
        <div class="top_bar_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                            <ul class="top_bar_contact_list" style="margin: 0;">
                                <li>
                                    <a class="navbar-brand" [routerLink]="['/']" >
                                        <img src="assets/logo/spark-logo.png" style="height: 80px;" alt="spark-it logo">
                                    </a>
                                </li>       
                            </ul>
                            <div class=" ml-auto">
                                <ul class="top_bar_contact_list" style="margin: 0;">
                                    <li>
                                        <a class="navbar-brand" href="https://www.facebook.com/sparkittunisia" target="blank" style="vertical-align: middle;">
                                            <i class="fab fa-facebook-f social-network-header"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="navbar-brand" href="https://www.instagram.com/sparkit_tunisie/" target="blank" style="vertical-align: middle;">
                                            <i class="fab fa-instagram social-network-header"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="navbar-brand" href="https://www.linkedin.com/company/spark-it-france/" target="blank" style="vertical-align: middle;">
                                            <i class="fab fa-linkedin-in social-network-header"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <img src="assets/logo/microsoft-partner-logo.svg" style="height: 40px;vertical-align: middle;" alt="microsoft partner logo">   
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="background-color-white">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-xs-10">
            <div class="card auth-layout">
                <div class="card-header text-left">
                    <nav>
                        <a type="button" (click)="goBack()">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </nav>
                    
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>