<sp-spinner *ngIf="isLoading"></sp-spinner>
<div class="px-3">
    <div class="modal-header border-none pb-0">
        <h4 class="modal-title" id="modal-basic-title">{{'PROJECT.PROJECT' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <form [formGroup]="projectForm" (ngSubmit)="save()">
    
        <div class="modal-body">
            <div class="form-group">
                <label for="inputSchool">{{'PROJECT.PRJ_TITLE' | translate}}: <span class="obligatory">*</span></label>
                <input
                    formControlName="title"
                    type="text" 
                    class="form-control"
                    [ngClass]="{'is-valid': projectForm.get('title').valid,
                                'is-invalid': !projectForm.get('title').valid && projectForm.get('title').touched}">
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('title').errors?.required">
                    {{'PROJECT.PRJ_REQUIRED' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('title').errors?.minlength">
                    {{'PROJECT.PRJ_MIN' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('title').errors?.maxlength">
                    {{'PROJECT.PRJ_MAX' | translate}}.
                </div>
            </div>
            <div class="form-group">
                <label for="inputDegree">{{'PROJECT.PRJ_DESC' | translate}}: <span class="obligatory">*</span></label>
                <textarea 
                    class="form-control" 
                    placeholder="{{'PROJECT.PRJ_DESC_PLACEHOLDER' | translate}}"
                    formControlName="description"
                    rows="3"
                    [ngClass]="{'is-valid': projectForm.get('description').valid,
                    'is-invalid': !projectForm.get('description').valid && projectForm.get('description').touched}"></textarea>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('description').errors?.required">
                    {{'PROJECT.PRJ_DESC_REQUIRED' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('description').errors?.minlength">
                    {{'PROJECT.PRJ_DESC_MIN' | translate}}.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('description').errors?.maxlength">
                    {{'PROJECT.PRJ_DESC_MAX' | translate}}.
                </div>
            </div>
        </div>
        <div class="modal-footer border-none pt-0">
            <button type="submit" class="btn sp-btn-red"[disabled]="!projectForm.valid">{{'SAVE' | translate}}</button>
        </div>

    </form>
</div>