<sp-spinner *ngIf="isLoading"></sp-spinner>
<div class="px-3">
    <div class="modal-header border-none pb-0">
        <h4 class="modal-title" id="modal-basic-title">Project</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <sp-error-msg *ngIf="error_msg" [error_msg]="error_msg"></sp-error-msg>
    <form [formGroup]="projectForm" (ngSubmit)="save()">
    
        <div class="modal-body">
            <div class="form-group">
                <label for="inputSchool">Title: <span class="obligatory">*</span></label>
                <input
                    formControlName="title"
                    type="text" 
                    class="form-control"
                    [ngClass]="{'is-valid': projectForm.get('title').valid,
                                'is-invalid': !projectForm.get('title').valid && projectForm.get('title').touched}">
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('title').errors?.required">
                    Title is required.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('title').errors?.minlength">
                    Title must be at least 8 characters.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('title').errors?.maxlength">
                    Title can contain maximum 150 characters.
                </div>
            </div>
            <div class="form-group">
                <label for="inputDegree">Description: <span class="obligatory">*</span></label>
                <textarea 
                    class="form-control" 
                    placeholder="Write your introduction here"
                    formControlName="description"
                    rows="3"
                    [ngClass]="{'is-valid': projectForm.get('description').valid,
                    'is-invalid': !projectForm.get('description').valid && projectForm.get('description').touched}"></textarea>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('description').errors?.required">
                    Description is required.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('description').errors?.minlength">
                    Description must be at least 30 characters.
                </div>
                <div class="invalid-feedback mt-3" *ngIf="projectForm.get('description').errors?.maxlength">
                    Description can contain maximum 255 characters.
                </div>
            </div>
        </div>
        <div class="modal-footer border-none pt-0">
            <button type="submit" class="btn sp-btn-red"[disabled]="!projectForm.valid">Save</button>
        </div>

    </form>
</div>