<div class="card-body background-white" [ngClass]="{'shadow': !isRecruiter}">
    <section>
        <div class="row">
            <div class="col">
                <div *ngIf="educations?.length">
                    <header class="d-flex align-items-center mb-4">
                        <h4>{{'EDUCATION.EDU' | translate}}</h4>
                        <a *ngIf="!isRecruiter" (click)="openNewForm()" type="button" class="ml-auto"><i class="fas fa-plus edit-btn-icon"></i></a>
                    </header>
                    <div class="row">
                        <div class="col">
                            <div *ngFor="let edu of educations; let i = index;">
                                <p class="text-muted">
                                    {{edu.dateStart | date: 'MMM yyyy' }} - {{edu.dateEnd | date: 'MMM yyyy' }}
                                </p>
                                <h6><i class="fas fa-university"></i>  {{edu.school | titlecase }}</h6>
                                <p><i class="fas fa-graduation-cap"></i>  {{edu.degree | titlecase }}</p>
                                <div *ngIf="!isRecruiter" class="text-right">
                                    <a (click)="delete(edu.id, i)" type="button"><i class="fas fa-trash-alt edit-btn-icon"></i></a>
                                    <a  (click)="openEditForm(edu, i)" type="button"><i class="fas fa-pen edit-btn-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!educations?.length">
                    <div class="row align-items-center">
                        <div class="col-md-2 text-center">
                            <img src="assets/images/icone/Graduation.svg" alt="graduation">
                        </div>
                        <div class="col-md-8">
                            <h5 class="mb-4">{{'EDUCATION.TITLE' | translate}}</h5>
                            <p>{{'EDUCATION.DESC' | translate}}.</p>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="sp-btn sp-btn-red" (click)="openNewForm()" type="button"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>