<!-- <sp-spinner *ngIf="isLoading"></sp-spinner> -->
<div class="card-body background-white" [ngClass]="{'shadow': !isRecruiter}">
    <section>
        <div class="row">
            <div class="col">
                <div *ngIf="languages?.length">
                    <header class="d-flex align-items-center mb-4">
                        <h4>{{'LANGUAGES.LANGUAGES' | translate}}</h4>
                        <a *ngIf="!isRecruiter" (click)="openNewForm()" type="button" class="ml-auto"><i class="fas fa-plus edit-btn-icon"></i></a>
                    </header>
                    <div class="row">
                        <div class="col">
                            <ul *ngIf="languages?.length">
                                <li *ngFor="let lang of languages; let i = index">
                                    <div class="row">
                                        <div class="col-10 align-self-center">
                                            <p style="margin-bottom: 0;"><b>{{lang.language.label}}</b></p>
                                            <p>{{lang.proficiency}}</p>
                                        </div>
                                        <div *ngIf="!isRecruiter" class="col-2 text-right align-self-center">
                                            <a (click)="delete(lang.id, i)" type="button"><i class="fas fa-trash-alt edit-btn-icon"></i></a>
                                            <a (click)="openEditForm(lang, i)" type="button"><i class="fas fa-pen edit-btn-icon"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngIf="!languages?.length">
                    <div class="row">
                        <div class="col text-center">
                            <img src="assets/images/icone/World-glob.svg" alt="graduation" style="width: 40%;">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col text-center">
                            <h5 class="mb-4">{{'LANGUAGES.MYLANGUAGES' | translate}}</h5>
                        <p>{{'LANGUAGES.DESC' | translate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button (click)="openNewForm()" type="button" class="sp-btn sp-btn-red"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>