.header_container {
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
}

.container {
    max-width: 1140px;
}
.navbar-nav .dropdown-menu:before {
    background: #ba0000;
}

.dropdown-menu {
    background-color: #ba0000 !important;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: bold;
}

.background-color-red-dark {
    background-color: #ba0000;
}

.nav-link {
    text-transform: none;
}

.profile-dropdown-link {
    color: #fff !important;
}

.profile-dropdown-link:hover {
    color: #59595c !important;
    background: #fff !important;
}

.signin-btn {
    width: 122px;
    height: 44px;
    border: 1px solid;
    border-radius: 41px;
    color: #fff;
    background-color: #fff;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    display: inline-block;
    transition: all .5s ease 0s;
    line-height: 2.6;
}

.signin-btn:hover {
    color: #fff;
    background-color: #ba0000;
}

.signin-btn a {
    color: #ba0000;
}

.signin-btn:hover a {
    color: #fff;
}


#profile-picture-lettre-container {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.05rem solid #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 2.25rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

@media (max-width: 991.98px) {
    #profile-picture-lettre-container {
        border: 0.05rem solid #020202;
        color: #020202;
    }

    .container {
        display: contents;
    }
  }

