.container {
    max-width: 1140px;
}
.navbar-nav .dropdown-menu:before {
    background: #ba0000;
}

.dropdown-menu {
    background-color: #ba0000 !important;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: bold;
}

.background-color-red-dark {
    background-color: #ba0000db;
}

.navbar {
    padding: 0;
}

.nav-link {
    text-transform: none;
}

#profile-picture-lettre-container {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.05rem solid #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 2.25rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

@media (max-width: 991.98px) {
    #profile-picture-lettre-container {
        border: 0.05rem solid #020202;
        color: #020202;
    }
  }

