<nav class="fixed-top">
    <sp-top-bar></sp-top-bar>
    <div class="header_container background-color-red-dark">
        <nav id="navbar-main" class="navbar navbar-expand-lg ml-auto">
            <a *ngIf="isRecruiter" class="navbar-brand" type="button" (click)="toggleSidebar()">
                <span style="color: #fff;font-size: 130%;">
                    <i class="fa fa-indent"></i>
                </span>
            </a>

            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span style="color: #fff;font-size: 130%;"><i class="fa fa-bars"></i></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbar_global">
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center mr-auto main_nav">
                        <li class="nav-item px-3 py-2" routerLinkActive="router-link-active">
                            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                        </li>
                        <li class="nav-item px-3 py-2" routerLinkActive="router-link-active">
                            <a class="nav-link" [routerLink]="['/jobs']" routerLinkActive="router-link-active">Jobs</a>
                        </li>                         
                    </ul>
                    <div *ngIf="!currentUser" class="signin-btn" style="font-weight: bold;">
                        <a type="button" [routerLink]="['/auth/signin']" routerLinkActive="router-link-active">Sign in</a>
                    </div>
                    <ul *ngIf="currentUser" class="navbar-nav align-items-lg-center main_nav">
                        <li class="nav-item px-3 py-2 dropdown">
                            <a type="button" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" style="color: #fff;padding: 0;">
                                <div *ngIf="!photo" id="profile-picture-lettre-container">{{nameTwoLetter | uppercase}}</div>
                                <img *ngIf="photo" src="{{photo}}" class="img-fluid rounded-circle shadow-lg" style="width: 2.5rem;">
                                {{fullname}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                                <a class="dropdown-item nav-link profile-dropdown-link"[routerLink]="['/candidate/profile']">My account</a>
                                <a class="dropdown-item nav-link profile-dropdown-link" type="button" (click)="logout()">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</nav>

