.container {
    max-width: 1140px;
}
.navbar-nav .dropdown-menu:before {
    background: #ba0000;
}

.dropdown-menu {
    background-color: #ba0000 !important;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: bold;
}

.background-color-red-dark {
    background-color: #ba0000db;
}

.navbar {
    padding: 0;
}

.nav-link {
    text-transform: none;
}
