<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h1 class="text-center">{{'AUTH.SIGNIN' | translate}}</h1>
    <p class="text-center">{{'AUTH.SIGNIN_DESC' | translate}}.</p>

    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <div *ngIf="loginError?.length">
        <sp-error-msg *ngFor="let error of loginError" [errorMsg]="error"></sp-error-msg>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form role="form" [formGroup]="loginForm" (ngSubmit)="emailSignin()">
                <!-- Email address -->
                <div class="form-control-group text-left mb-3">
                    <label for="emailInput">{{'PASSWORD.EMAIL' | translate}}:</label>
                    <input 
                        type="email"
                        class="form-control"
                        placeholder="{{'PASSWORD.EMAIL_PLACEHOLDER' | translate}}"
                        formControlName="email"
                        pattern=".+@.+\..+">
                    <div *ngIf="loginForm.get('email').touched && loginForm.get('email').errors">
                        <p 
                            class="text-danger"
                            *ngIf="loginForm.get('email').errors.required">
                            {{'PASSWORD.EMAIL_REQUIRED' | translate}} !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="loginForm.get('email').errors.pattern">
                            {{'PASSWORD.EMAIL_VALID' | translate}} !
                        </p>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-control-group text-left mb-5">
                    <span>
                        <label for="passwordInput">{{'PASSWORD.PASS' | translate}}:</label>
                        <a [routerLink]="['/auth/password-recovery-code']" class="text-left" style="float: right;">
                            {{'SIGN.FORGOT' | translate}}?
                        </a>
                    </span>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="{{'PASSWORD.PASS_PLACEHOLDER' | translate}}"
                        formControlName="password">
                    <div *ngIf="loginForm.get('password').touched && loginForm.get('password').errors">
                        <p 
                            class="text-danger"
                            *ngIf="loginForm.get('password').errors.required">
                            {{'PASSWORD.PASS_REQUIRED' | translate}} !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="loginForm.get('password').errors.minlength">
                            {{'PASSWORD.NEW_MIN' | translate}} !
                        </p>
                    </div>
                </div>
                
                <!-- Submit -->
                <button type="submit" class="btn btn-block mb-3" [disabled]="!loginForm.valid">{{'SIGN.SIGNIN' | translate}}</button>
            
            </form>
            <sp-social-authentication
                (outputIsLoading)="getSocialAuthIsLoading($event)"
                (outputerrorMsg)="getSocialAutherrorMsg($event)"
                (outputAuth)="getSocialAuthTrue($event)"
                [location]="location">

            </sp-social-authentication>
        </div>
        <div class="vertical-space-30"></div>
        <p>{{'AUTH.DONT_HAVE_ACCOUNT' | translate}}? <a [routerLink]="['/auth/signup']"><u style="color: #ba0000;">{{'AUTH.REGISTER' | translate}}</u></a></p>
    </div>
</div>