<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h1 class="text-center">Sign In</h1>
    <p class="text-center">Hello! Sign in with your email.</p>

    <sp-error-msg *ngIf="error_msg" [error_msg]="error_msg"></sp-error-msg>
    <div *ngIf="login_error?.length">
        <sp-error-msg *ngFor="let error of login_error" [error_msg]="error"></sp-error-msg>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form role="form" [formGroup]="loginForm" (ngSubmit)="emailSignin()">
                <!-- Email address -->
                <div class="form-control-group text-left mb-3">
                    <label for="emailInput">Email address:</label>
                    <input 
                        type="email"
                        class="form-control"
                        placeholder="Enter email"
                        formControlName="email"
                        pattern=".+@.+\..+">
                    <div *ngIf="loginForm.get('email').touched && loginForm.get('email').errors">
                        <p 
                            class="text-danger"
                            *ngIf="loginForm.get('email').errors.required">
                            Email is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="loginForm.get('email').errors.pattern">
                            Email must be a valid email address !
                        </p>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-control-group text-left mb-5">
                    <span>
                        <label for="passwordInput">Password:</label>
                        <a [routerLink]="['']" class="text-left" style="float: right;">
                            Forgot password?
                        </a>
                    </span>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        formControlName="password">
                    <div *ngIf="loginForm.get('password').touched && loginForm.get('password').errors">
                        <p 
                            class="text-danger"
                            *ngIf="loginForm.get('password').errors.required">
                            Password is required !
                        </p>
                        <p 
                            class="text-danger"
                            *ngIf="loginForm.get('password').errors.minlength">
                            Password must be at least 8 characters !
                        </p>
                    </div>
                </div>
                
                <!-- Submit -->
                <button type="submit" class="btn btn-block mb-3" [disabled]="!loginForm.valid">Sign in</button>
            
            </form>
            <sp-social-authentication
                (outputIsLoading)="getSocialAuthIsLoading($event)"
                (outputError_msg)="getSocialAuthError_msg($event)"
                (outputAuth)="getSocialAuthTrue($event)"
                [location]="location">

            </sp-social-authentication>
        </div>
        <div class="vertical-space-30"></div>
        <p>Don't have an account? <a [routerLink]="['/auth/signup']"><u style="color: #ba0000;">Register</u></a></p>
    </div>
</div>