h1 {
    font-family: Open Sans,sans-serif;
    font-weight: 700;
}
.btn {
    // margin: 5px;
    color: #fff;
    background: #ba0000;
}

label {
    font-weight: 700;
}

label a {
    color: #58585a85;
}