<sp-spinner *ngIf="isLoading"></sp-spinner>

<section id="intro">
    <sp-carousel [title]="title" [text]="text"></sp-carousel>
</section>

<sp-search-bar [filterOptions]="filterOptions" style="position: relative; top: -40px;"></sp-search-bar>
<div class="vertical-space-30"></div>



<section id="Job-Category">
    <div class="container-fluid">
        <h3 class="text-center">Popular Category Jobs</h3>
        <div class="vertical-space-30"></div>
        <div class="row" *ngIf="nbJobsPerCategory">
            <div class="col-lg-3 col-md-6 max-width-50">
                <sp-category-box  [label]="'Sales and Marketing'" [count]="nbJobsPerCategory['Sales and Marketing']"></sp-category-box>
            </div>
            <div class="col-lg-3 col-md-6 max-width-50">
                <sp-category-box  [label]="'Computer Programing'" [count]="nbJobsPerCategory['Computer Programing']"></sp-category-box>
            </div>
            <div class="col-lg-3 col-md-6 max-width-50">
                <sp-category-box  [label]="'Design And Multimedia'" [count]="nbJobsPerCategory['Design And Multimedia']"></sp-category-box>
            </div>
            <div class="col-lg-3 col-md-6 max-width-50">
                <sp-category-box  [label]="'Web Development'" [count]="nbJobsPerCategory['Web Development']"></sp-category-box>
            </div>
            
            
        </div>
        <div class="vertical-space-40"></div>
        <a [routerLink]="['/jobs']" class="Brows-All-Category">Browse All Category</a>
    </div>
    <div class="vertical-space-85"></div>
</section>
    
    
<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container-fluid text-center">
        <div class="row justify-content-center">
            <div class="col-md-9">
        
                <h3 class="text-center">Recent Job Post</h3>
                <div class="vertical-space-60"></div>
                <h5 *ngIf="errorMsg">{{errorMsg}}</h5>
                <h5 *ngIf="!recentJobs.length && !errorMsg && !isLoading">There are no job offers at the moment.</h5>
                
                <sp-job-post *ngFor="let job of recentJobs" [job]=job></sp-job-post>
                
                <div class="vertical-space-20"></div>
                
            </div>
        </div>
        <div class="job-list">
            <a [routerLink]="['/jobs']" class="Open-Jobs-Page margin-auto">Browse All Jobs</a>
        </div>
    </div>
    <div class="vertical-space-60"></div>
</section>
    
    
<section id="Jobtend">
    <div class="container-fluid">
        <div class="vertical-space-85"></div>
        <div class="row">
            <div class="col-lg-9 col-md-6  align-self-center">
                <h3 class="title">Spark-it - Best Place to Find Jobs</h3>
                <div class="vertical-space-30"></div>
                <p class="max-width">
                    Young and dynamic, Spark-it has very quickly developed its activity by leveraging the experience of 
                    developers who are now employees within our company. Their continuous training, professionalism and 
                    expertise are all guarantees of results in the implementation of effective solutions for our customers.
                </p>
                <div class="vertical-space-30"></div>
                <h4>Why we are the best</h4>
                <div class="vertical-space-30"></div>
                <ul>
                    <li>
                        <p>
                            <i class="fas fa-long-arrow-alt-right"></i>  We encourage career growth and we  give the tools and guidance to achieve subject matter expertise.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-long-arrow-alt-right"></i>  We have a fun environment to work in where you are surrounded by like-minded people who are passionate about tech.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-long-arrow-alt-right"></i>  We give opportunity to work on projects abroad with some of the world's leading brands.
                        </p>
                    </li>
                </ul>
                <div class="vertical-space-30"></div>
                <a [routerLink]="['/jobs']" class="Explore-New-Jobs">Explore New Jobs</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="assets/images/man.png" alt="man image" class="man-img">
            </div>
            <div class="vertical-space-60"></div>
        </div>
    </div>
</section>