<div class="card-body background-white" [ngClass]="{'shadow': !isRecruiter}">
    <section>
        <div class="row">
            <div class="col">
                <div *ngIf="skills?.length">
                    <header class="d-flex align-items-center mb-4">
                        <h4>{{'SKILLS.SKILL' | translate}}</h4>
                        <a *ngIf="!isRecruiter" (click)="openNewForm()" type="button" class="ml-auto"><i class="fas fa-plus edit-btn-icon"></i></a>
                    </header>
                    <div class="row">
                        <div class="col">
                            <ul *ngIf="skills?.length">
                                <li *ngFor="let sk of skills; let i = index;">
                                    <div class="row">
                                        <div class="col-9 align-self-center">
                                            <p style="margin-bottom: 0;"><b>{{sk.skill.label}}</b></p>
                                            <p>{{sk.proficiency}}</p>
                                        </div>
                                        <div *ngIf="!isRecruiter" class="col-3 text-right align-self-center">
                                            <a (click)="delete(sk.id, i)" type="button"><i class="fas fa-trash-alt edit-btn-icon"></i></a>
                                            <a (click)="openEditForm(sk, i)" type="button"><i class="fas fa-pen edit-btn-icon"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngIf="!skills?.length">
                    <div class="row">
                        <div class="col text-center">
                            <img src="assets/images/icone/Maintenance.svg" alt="graduation" style="width: 40%;">
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col text-center">
                            <h5 class="mb-4">{{'SKILLS.MYSKILLS' | translate}}</h5>
                            <p>{{'SKILLS.DESC' | translate}}!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <button (click)="openNewForm()" type="button" class="sp-btn sp-btn-red"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>