sp-header {
    z-index: 1000;
}

sp-sidebar {
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
    z-index: 999;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.pt {
    padding-top: 3.3rem;
}

@media (min-width: 992px) {
    .pt {
        padding-top: 8.7rem;
    }
}

@media (min-width: 1200px) {
    .pt {
        padding-top: 9.1rem;
    }
}

