

<!-- <div class="container"> -->
    <div id="accordion" id="accordionExample">
        <sp-filter-box [filterChoices]="filterOptions?.categories"  [filterName]="'Job Category'" [checkedValue]="checkedValue"></sp-filter-box>
        <sp-filter-box [filterChoices]="filterOptions?.skills"  [filterName]="'Job Skills'"></sp-filter-box>
        <sp-filter-box [filterChoices]="filterOptions?.experiences"  [filterName]="'Job Experience'"></sp-filter-box>
        <sp-filter-box [filterChoices]="filterOptions?.types"  [filterName]="'Job Type'"></sp-filter-box>
        <sp-filter-box [filterChoices]="filterOptions?.locations"  [filterName]="'Job Location'"></sp-filter-box>
    </div>
<!-- </div> -->