<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h1 class="text-center">{{'PASSWORD.PASS_CHANGE.TITLE' | translate}}</h1>
    <p class="text-center">{{'PASSWORD.PASS_CHANGE.WITH_CODE' | translate}}</p>
    <h5 class="text-success mb-4" *ngIf="successMsg">{{successMsg}}</h5>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="stepper" class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <div class="step" data-target="#recovery-code-part">
                        <button type="button" class="step-trigger" role="tab">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">{{'PASSWORD.PASS_CHANGE.CODE' | translate}}</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#new-password-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="new-password-part" id="new-password-part-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">{{'PASSWORD.NEW' | translate}}</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="recovery-code-part" class="content">
                        <form role="form" [formGroup]="codeRecoveryForm" (ngSubmit)="onCodeSubmit()">
                            <!-- Email address -->
                            <div class="form-control-group text-left mb-5">
                                <label for="emailInput">{{'PASSWORD.PASS_CHANGE.CODE' | translate}}:</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    placeholder="{{'PASSWORD.PASS_CHANGE.CODE_PLACEHOLDER' | translate}}"
                                    formControlName="passwordRecoveryCode">
                                <div *ngIf="codeRecoveryForm.get('passwordRecoveryCode').touched && codeRecoveryForm.get('passwordRecoveryCode').errors">
                                    <p 
                                        class="text-danger"
                                        *ngIf="codeRecoveryForm.get('passwordRecoveryCode').errors.required">
                                        {{'PASSWORD.PASS_CHANGE.CODE_REQUIRED' | translate}} !
                                    </p>
                                    <p 
                                        class="text-danger"
                                        *ngIf="codeRecoveryForm.get('passwordRecoveryCode').errors.minlength || codeRecoveryForm.get('passwordRecoveryCode').errors.maxlength">
                                        {{'PASSWORD.PASS_CHANGE.CODE_LENGTH' | translate}} !
                                    </p>
                                </div>
                            </div>
                            <!-- Submit -->
                            <button type="submit" class="btn btn-block mb-3" [disabled]="!codeRecoveryForm.valid">{{'SUBMIT' | translate}}</button>
                        </form>
                    </div>
                    <div id="new-password-part" class="content">
                        <form role="form" [formGroup]="newPasswordForm" (ngSubmit)="onPasswordSubmit()">

                            <div class="form-control-group text-left mb-3">
                                <label for="newPasswordInput">{{'PASSWORD.NEW' | translate}}:</label>
                                <input 
                                    type="password"
                                    class="form-control"
                                    placeholder="{{'PASSWORD.NEW_PLACEHOLDER' | translate}}"
                                    formControlName="newPassword">
                                <div *ngIf="newPasswordForm.get('newPassword').touched && newPasswordForm.get('newPassword').errors">
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newPassword').errors.required">
                                        {{'PASSWORD.NEW_REQUIRED' | translate}} !
                                    </p>
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newPassword').errors.minlength">
                                        {{'PASSWORD.NEW_MIN' | translate}} !
                                    </p>
                                </div>
                            </div>

                            <div class="form-control-group text-left mb-5">
                                <label for="newRetypedPasswordInput">{{'PASSWORD.RETYPED' | translate}}:</label>
                                <input 
                                    type="password"
                                    class="form-control"
                                    placeholder="{{'PASSWORD.RETYPED_PLACEHOLDER' | translate}}"
                                    formControlName="newRetypedPassword">
                                <div *ngIf="newPasswordForm.get('newRetypedPassword').touched && newPasswordForm.get('newRetypedPassword').errors">
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newRetypedPassword').errors.required">
                                        {{'PASSWORD.RETYPED_REQUIRED' | translate}} !
                                    </p>
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newRetypedPassword').errors.minlength">
                                        {{'PASSWORD.MIN' | translate}} !
                                    </p>
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newRetypedPassword').errors.mustMatch">
                                        {{'PASSWORD.MATCH' | translate}} !
                                    </p>
                                </div>
                            </div>
                            <!-- Submit -->
                            <button type="submit" class="btn btn-block mb-3" [disabled]="!newPasswordForm.valid">{{'SUBMIT' | translate}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p>{{'AUTH.DONT_HAVE_ACCOUNT' | translate}}? <a [routerLink]="['/auth/signup']"><u style="color: #ba0000;">{{'AUTH.REGISTER' | translate}}</u></a>, {{'AUTH.OR' | translate}} <a [routerLink]="['/auth/signin']"><u style="color: #ba0000;">{{'AUTH.SIGNIN' | translate}}</u></a></p>
        </div>
    </div>
</div>
