<sp-spinner *ngIf="isLoading"></sp-spinner>

<div class="card-body">
    <h1 class="text-center">Change password</h1>
    <p class="text-center">Write your recovery code and set a new password</p>
    <h5 class="text-success mb-4" *ngIf="successMsg">{{successMsg}}</h5>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="stepper" class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <div class="step" data-target="#recovery-code-part">
                        <button type="button" class="step-trigger" role="tab">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">Recovery code</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#new-password-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="new-password-part" id="new-password-part-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">New password</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="recovery-code-part" class="content">
                        <form role="form" [formGroup]="codeRecoveryForm" (ngSubmit)="onCodeSubmit()">
                            <!-- Email address -->
                            <div class="form-control-group text-left mb-5">
                                <label for="emailInput">Recovery code:</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    placeholder="Enter recovery code"
                                    formControlName="passwordRecoveryCode">
                                <div *ngIf="codeRecoveryForm.get('passwordRecoveryCode').touched && codeRecoveryForm.get('passwordRecoveryCode').errors">
                                    <p 
                                        class="text-danger"
                                        *ngIf="codeRecoveryForm.get('passwordRecoveryCode').errors.required">
                                        Recovery code is required !
                                    </p>
                                    <p 
                                        class="text-danger"
                                        *ngIf="codeRecoveryForm.get('passwordRecoveryCode').errors.minlength || codeRecoveryForm.get('passwordRecoveryCode').errors.maxlength">
                                        Recovery code should contains 10 characters !
                                    </p>
                                </div>
                            </div>
                            <!-- Submit -->
                            <button type="submit" class="btn btn-block mb-3" [disabled]="!codeRecoveryForm.valid">Submit</button>
                        </form>
                    </div>
                    <div id="new-password-part" class="content">
                        <form role="form" [formGroup]="newPasswordForm" (ngSubmit)="onPasswordSubmit()">

                            <div class="form-control-group text-left mb-3">
                                <label for="newPasswordInput">New password:</label>
                                <input 
                                    type="password"
                                    class="form-control"
                                    placeholder="New password"
                                    formControlName="newPassword">
                                <div *ngIf="newPasswordForm.get('newPassword').touched && newPasswordForm.get('newPassword').errors">
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newPassword').errors.required">
                                        New password is required !
                                    </p>
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newPassword').errors.minlength">
                                        New password must be at least 8 characters !
                                    </p>
                                </div>
                            </div>

                            <div class="form-control-group text-left mb-5">
                                <label for="newRetypedPasswordInput">New password:</label>
                                <input 
                                    type="password"
                                    class="form-control"
                                    placeholder="Retyped new password"
                                    formControlName="newRetypedPassword">
                                <div *ngIf="newPasswordForm.get('newRetypedPassword').touched && newPasswordForm.get('newRetypedPassword').errors">
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newRetypedPassword').errors.required">
                                        Retyped new password is required !
                                    </p>
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newRetypedPassword').errors.minlength">
                                        Retyped new password must be at least 8 characters !
                                    </p>
                                    <p 
                                        class="text-danger"
                                        *ngIf="newPasswordForm.get('newRetypedPassword').errors.mustMatch">
                                        Passwords must match !
                                    </p>
                                </div>
                            </div>
                            <!-- Submit -->
                            <button type="submit" class="btn btn-block mb-3" [disabled]="!newPasswordForm.valid">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <p>Don't have an account? <a [routerLink]="['/auth/signup']"><u style="color: #ba0000;">Register</u></a>, or <a [routerLink]="['/auth/signin']"><u style="color: #ba0000;">Sign In</u></a></p>
        </div>
    </div>
</div>
