.job-post {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 30px;
    margin-bottom: 12px;
    border-radius: 5px;
}

.btn {
    width: 90%;
}