<!-- <sp-spinner *ngIf="isLoading"></sp-spinner> -->
<div class="card-body background-white" [ngClass]="{'shadow': !isRecruiter}">
    <section>
        <div class="row">
            <div class="col">
                <div *ngIf="projects?.length">
                    <header class="d-flex align-items-center mb-4">
                        <h4>{{'PROJECT.PROJECT' | translate}}</h4>
                        <a *ngIf="!isRecruiter" (click)="openNewForm()" type="button" class="ml-auto"><i class="fas fa-plus edit-btn-icon"></i></a>
                    </header>
                    <div class="row">
                        <div class="col">
                            <div *ngFor="let project of projects; let i = index">
                                <h6><i class="fas fa-tasks"></i>  {{project.title | titlecase }}</h6>
                                <p>{{project.description}}</p>
                                <div *ngIf="!isRecruiter" class="text-right">
                                    <a (click)="delete(project.id, i)" type="button"><i class="fas fa-trash-alt edit-btn-icon"></i></a>
                                    <a (click)="openEditForm(project, i)" type="button"><i class="fas fa-pen edit-btn-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!projects?.length">
                    <div class="row align-items-center">
                        <div class="col-md-2 text-center">
                            <img src="assets/images/icone/Projects.svg" alt="projects">
                        </div>
                        <div class="col-md-8">
                            <h5 class="mb-4">{{'PROJECT.TITLE' | translate}}!</h5>
                            <p>{{'PROJECT.DESC' | translate}}.</p>
                        </div>
                        <div class="col-md-2 text-center">
                            <button (click)="openNewForm()" type="button" class="sp-btn sp-btn-red"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>