<div class="card-body shadow background-white py-4 px-4 mb-5">
    <section>
        <div class="row">
            <div class="col">
                <div *ngIf="projects?.length">
                    <header class="d-flex align-items-center mb-4">
                        <h4>Project</h4>
                        <a (click)="openNewForm()" type="button" class="ml-auto"><i class="fas fa-plus edit-btn-icon"></i></a>
                    </header>
                    <div class="row">
                        <div class="col">
                            <div *ngFor="let project of projects">
                                <h6><i class="fas fa-tasks"></i>  {{project.title}}</h6>
                                <p>{{project.description}}</p>
                                <div class="text-right">
                                    <a (click)="openEditForm(project)" type="button"><i class="fas fa-pen edit-btn-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!projects?.length">
                    <div class="row align-items-center">
                        <div class="col-md-2 text-center">
                            <img src="assets/images/icone/Projects.svg" alt="projects">
                        </div>
                        <div class="col-md-8">
                            <h5 class="mb-4">Hey, this is quite empty here!</h5>
                            <p>Add here every project that you have done in the past.</p>
                        </div>
                        <div class="col-md-2 text-center">
                            <button (click)="openNewForm()" type="button" class="sp-btn sp-btn-red"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>