<footer id="footer" class="background-color-white">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-6 col-md-6">
                <h5 class="">About Us</h5>
                <p class="">Spark-it is a digital services company. We offer digital development and consulting solutions for all market players: Start-up, SMEs and large groups.</p>
            </div>
            <div class="col-lg-6 col-md-6 text-center my-auto">
                <a href="https://www.facebook.com/sparkittunisia" target="blank"><i class="fab fa-facebook-f social-icon"></i></a>
                <a href="https://www.instagram.com/sparkit_tunisie/" target="blank"><i class="fab fa-instagram social-icon"></i></a>
                <a href="https://www.linkedin.com/company/spark-it-france/" target="blank"><i class="fab fa-linkedin-in social-icon"></i></a>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col text-center">
                <p style="font-weight: 600;" class="mb-0">ALL RIGHTS RESERVED © 2020</p>
            </div>
        </div>
    </div>
</footer>