<footer id="footer" class="background-color-white">
    <div class="container">
        <div class="vertical-space-40"></div>
            <div class="row">
                <div class="col-lg-4 col-md-6 vertical-space-2">
                    <h5>About Us</h5>
                    <p class="paregraf">text text text text text text text text text text text text text text  
                        text text text text text text text text text text text text text text text text text text </p>
                    <a href="https://www.facebook.com/sparkittunisia" target="blank"><i class="fa fa-facebook-f social-icon"></i></a>
                    <a href="https://www.instagram.com/sparkit_tunisie/" target="blank"><i class="fa fa-instagram social-icon"></i></a>
                    <a href="https://www.linkedin.com/company/spark-it-france/" target="blank"><i class="fa fa-linkedin social-icon"></i></a>
                </div>
                <div class="col-lg-2 col-md-6 vertical-space-2">
                    <h5>Company</h5>
                    <div class="text">
                        <a href="#">About</a>
                        <a href="#">Support</a>
                        <a href="#">Tems</a>
                        <a href="#">Privacy</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 vertical-space-2">
                <h5>Company</h5>
                    <div class="text">
                    <a href="#">About</a>
                    <a href="#">Support</a>
                    <a href="#">Tems</a>
                    <a href="#">Privacy</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 vertical-space-2">
                    <h5>Subscribe Us</h5>
                    <p>Get latest update and newsletter</p>
                    <div class="vertical-space-30"></div>
                    <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">
                        <input fromControlName="email" type="email" class="email " placeholder="Email Address">
                        <span class="fa fa-envelope email-icone "></span>
                        <input type="submit" class="Subscribe" value="Subscribe">
                    </form>
                </div>
            </div>
        <div class="vertical-space-60"></div>
    </div>
</footer>