<nav id="sidebar" class="py-3" [ngClass]="{'active': isClose}">
    <div class="position-fixed">
    <div class="sidebar-header px-3 py-3">
        <h3>Recruiter Space</h3>
        <strong>RS</strong>
    </div>

    <ul class="nav flex-column">
        <li class="nav-item dropdown py-2">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle">
                <i class="fas fa-home mr-2"></i>
                <span class="nav-title">Dashboard</span>
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home 1 home1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li class="nav-item py-2">
            <a class="nav-link" href="#">
                <i class="fas fa-briefcase mr-2"></i>
                <span class="nav-title">All jobs</span>
            </a>
        </li>
        <li class="nav-item py-2">
            <a class="nav-link" href="#">
                <i class="fas fa-briefcase mr-2"></i>
                <span class="nav-title">All jobs</span>
            </a>
        </li>
        <li class="nav-item py-2">
            <a class="nav-link" href="#">
                <i class="fas fa-briefcase mr-2"></i>
                <span class="nav-title">All jobs</span>
            </a>
        </li>
        <li class="nav-item py-2">
            <a class="nav-link" href="#">
                <i class="fas fa-briefcase mr-2"></i>
                <span class="nav-title">All jobs</span>
            </a>
        </li>
    </ul>
</div>
</nav>