<sp-spinner *ngIf="isLoading"></sp-spinner>
<div class="px-3">
    <div class="modal-header border-none pb-0">
        <h4 class="modal-title" id="modal-basic-title">{{'DESCRIPTION.PRESENTATION' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <form [formGroup]="descForm" (ngSubmit)="save()">
        <div class="modal-body">
            <p class="text-muted">{{'DESCRIPTION.DESC' | translate}}!</p>
            <textarea 
                class="form-control" 
                placeholder="Write your introduction here"
                formControlName="description"
                rows="3"
                [ngClass]="{'is-valid': descForm.get('description').valid,
                    'is-invalid': !descForm.get('description').valid && descForm.get('description').touched}">
            </textarea>
            <div class="invalid-feedback mt-3" *ngIf="descForm.get('description').errors?.minlength">
                {{'DESCRIPTION.MIN' | translate}}.
            </div>
            <div class="invalid-feedback mt-3" *ngIf="descForm.get('description').errors?.maxlength">
                {{'DESCRIPTION.MAX' | translate}}.
            </div>
        </div>
        <div class="modal-footer border-none pt-0">
            <button type="submit" class="btn sp-btn-red" [disabled]="!descForm.valid">{{'SAVE' | translate}}</button>
        </div>
    </form>
</div>