<div class="card-body background-white" [ngClass]="{'shadow': !isRecruiter}">
    <section>
        <div class="row">
            <div class="col">
                <div *ngIf="description">
                    <h4 class="mb-4">{{'DESCRIPTION.PRESENTATION' | translate}}</h4>
                    <p>{{description}}</p>
                    <div *ngIf="!isRecruiter" class="text-right">
                        <a (click)="open()" type="button"><i class="fas fa-pen edit-btn-icon"></i></a>
                    </div>
                </div>
                <div *ngIf="!description">
                    <div class="row align-items-center">
                        <div class="col-md-2 text-center">
                            <img src="assets/images/icone/Notebook.svg" alt="notebook">
                        </div>
                        <div class="col-md-8">
                            <h5 class="mb-4">{{'DESCRIPTION.TITLE' | translate}}</h5>
                            <p>{{'DESCRIPTION.DESC' | translate}}!</p>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="sp-btn sp-btn-red" (click)="open()" type="button"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>