<!-- <sp-spinner *ngIf="isLoading"></sp-spinner> -->
<div class="px-3">
    <div class="modal-header border-none pb-0">
        <h4 class="modal-title" id="modal-basic-title">{{'LANGUAGES.LANGUAGE' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <form [formGroup]="langForm" (ngSubmit)="save()">
    
        <div class="modal-body">
            <div class="form-group">
                <label for="inputLanguage">{{'LANGUAGES.LANGUAGE' | translate}}: <span class="obligatory">*</span></label>
                <select 
                    formControlName="id"
                    class="form-control"
                    [ngClass]="{'is-valid': langForm.get('id').valid,
                                'is-invalid': !langForm.get('id').valid && langForm.get('id').touched}"
                >
                    <option *ngFor="let lang of allLang" value="{{lang.id}}">{{lang.label}}</option>
                </select>
                <div class="invalid-feedback mt-3">
                    {{'LANGUAGES.LANGUAGE_REQUIRED' | translate}}.
                </div>
            </div>
            <div class="form-group">
                <label for="inputProficiency">{{'LANGUAGES.PROFICIENCY' | translate}}: <span class="obligatory">*</span></label>
                <select 
                    formControlName="proficiency"
                    class="form-control"
                    [ngClass]="{'is-valid': langForm.get('proficiency').valid,
                                'is-invalid': !langForm.get('proficiency').valid && langForm.get('proficiency').touched}"
                >
                    <option>Elementary proficiency</option>
                    <option>Limited working proficiency </option>
                    <option>Professional working proficiency</option>
                    <option>Full professional proficiency</option>
                    <option>Native or bilingual</option>
                </select>
                <div class="invalid-feedback mt-3">
                    {{'LANGUAGES.PROFICIENCY_REQUIRED' | translate}}.
                </div>
            </div>
        </div>
        <div class="modal-footer border-none pt-0">
            <button type="submit" class="btn sp-btn-red"[disabled]="!langForm.valid || isLoading">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {{'SAVE' | translate}}
            </button>
        </div>

    </form>
</div>