
<!-- <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">Apply For Job</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="staticEmail">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Fullname</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Phone</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Experience</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Skills</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn">Save changes</button>
    </div>
  </div>
</div> -->

<!-- <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div> -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document" style="margin: 0vh;">
    <div class="modal-content">
       
<!-- <div class="container"> -->
<div class="modal-body">

    <div id="stepper1" class="bs-stepper">
        <!-- Stepper header -->
        <div class="bs-stepper-header">
            <div class="step" data-target="#test-l-1">
                <button class="step-trigger">
                <span class="bs-stepper-circle">1</span>
                <span class="bs-stepper-label">Authentication</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-2">
                <button class="step-trigger">
                <span class="bs-stepper-circle">2</span>
                <span class="bs-stepper-label">Information</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
                <button class="step-trigger">
                <span class="bs-stepper-circle">3</span>
                <span class="bs-stepper-label">Confirmation</span>
                </button>
            </div>
        </div>
        <hr style="margin-top: 0;">

        <!-- Stepper content -->
        <div class="bs-stepper-content">
            <!-- <form (ngSubmit)="onSubmit()"></form> -->
                <!-- Step 1 -->
                <div id="test-l-1" class="content">
                    <!-- <div class="row justify-content-center">
                        <div class="col text-center">
                            <h4>Feature available for registred users only</h4>
                        </div>
                    </div>
                    <div class="vertical-space-30"></div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8">
                            <button (click)="goSignin()" class="btn btn-outline btn-block">I already have an account</button>
                        </div>
                    </div>
                    <div class="vertical-space-30"></div>
                    <div class="row justify-content-center">
                        <div class="col text-center">
                            <h4>Or</h4>
                        </div>
                    </div>
                    <div class="vertical-space-30"></div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8">
                            <button (click)="next()" class="btn btn-block">Register</button>
                        </div>
                    </div> -->
                    <sp-signin 
                        [location]="'apply'"
                        (outputAuth)="getAuthResult($event)">
                    </sp-signin>
                </div>
                
                <!-- Step 2 -->
                <div id="test-l-2" class="content">
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                </div>
                <button (click)="next()" class="btn btn-primary">Next</button>
                </div>

                <!-- Step 3 -->
                <div id="test-l-3" class="content text-center">
                <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </div>
            <!-- </form> -->
        </div>
    </div>
      
      
</div>
</div>
</div>