.btn {
    color: #fff;
    background-color: #ba0000;
    border-color: #ba0000;
}

.btn-outline {
    color: #ba0000;
    background-color: #fff;
    border-color: #ba0000;
}

.modal-content {
    padding: 0;
}

.modal-body {
    padding: 0;
}

.nb {
    border: 1px solid #ba0000;
    border-radius: 10px;
    background: #ba00000f;
}