<sp-spinner *ngIf="isLoading"></sp-spinner>
<div class="modal modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document" style="margin: 0vh;">
    <div class="modal-content">
        
        <div class="modal-body">
            <div id="stepper1" class="bs-stepper">
                <!-- Stepper header -->
                <div class="bs-stepper-header">
                    <div class="step" data-target="#test-l-1">
                        <button class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Authentication</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-2">
                        <button class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Resume</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#test-l-3">
                        <button class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Confirmation</span>
                        </button>
                    </div>
                </div>
                <hr class="mt-0">

                <!-- Stepper content -->
                <div class="bs-stepper-content">
                        <!-- Step 1 -->
                        <div id="test-l-1" class="content">
                            <sp-signin
                            *ngIf="!isConnected"
                                [location]="'apply'"
                                (outputAuth)="getAuthResult($event)">
                            </sp-signin>
                        </div>
                        
                        <!-- Step 2 -->
                        <div id="test-l-2" class="content">
                            <div class="container">
                                <sp-spinner *ngIf="candidateLoading"></sp-spinner>
                                <sp-resume-summary
                                    [candidate]="candidate"
                                    (outputCanApply)="onCanApply($event)"
                                    *ngIf="!candidateLoading">
                                </sp-resume-summary>
                                <div class="nb nb pt-3 px-3 my-3">
                                    <p>
                                        <b>NB! </b>To apply for a job, phone number, seniority and skills are mendatory fields. 
                                        In addition, you should upload a pdf resume or fill the resume fields (education and experience at least) or you can do both.<br>
                                        To enhance your resume efficiency, it's better to fill all the fields and update them.
                                    </p>
                                </div>
                                <div class="text-right">
                                    <button
                                        data-dismiss="modal"
                                        (click)="goProfile()" 
                                        class="btn sp-btn-white mr-3">
                                        <i class="fas fa-pen"></i> Complete your profile
                                    </button>
                                    <button 
                                        title="Fill required Fields to pass.."
                                        (click)="next()"
                                        class="btn btn-primary" 
                                        [disabled]="!canApply">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Step 3 -->
                        <div id="test-l-3" class="content text-center">
                            <form [formGroup]="messageForm" (ngSubmit)="onApply()">
                                <div class="form-group row py-3 px-5">
                                    <p class="text-left"><b>Your motivation (optional)</b></p>
                                    <editor
                                    class="w-100"
                                        formControlName="message"
                                        [init]="{
                                            height: 250,
                                            menubar: false,
                                            plugins: [
                                                'advlist autolink lists link image charmap print preview anchor',
                                                'searchreplace visualblocks code fullscreen',
                                                'insertdatetime media table paste code help wordcount'
                                            ],
                                            toolbar:
                                                'undo redo | formatselect | bold italic backcolor | \
                                                alignleft aligncenter alignright alignjustify | \
                                                bullist numlist outdent indent | removeformat | help'
                                            }"
                                        ></editor>
                                </div>
                                <div *ngIf="error_msg" class="mb-3" style="color: #dc3545;">{{error_msg}}</div>
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>