.btn {
    color: #fff;
    background-color: #ba0000;
    border-color: #ba0000;
}

.btn-outline {
    color: #ba0000;
    background-color: #fff;
    border-color: #ba0000;
}

.modal-content {
    padding: 0;
}

.modal-body {
    padding: 0;
}

// .bs-stepper-header {
//     background: #ba0000;
// }

// .bs-stepper-label {
//     color: #fff;
// }

// .bs-stepper .line {
//     background-color: #fff;
// }