<div class="row status-btn justify-content-center">
    <div 
        class="btn-group btn-group-toggle mb-3" 
        ngbRadioGroup name="radioBasic" 
        [(ngModel)]="candStatus" 
        (change)="onStatusFilter()">
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="''"> All<span class="all-candidates"> Candidates</span> ({{nbCand?.total}})
        </label>
        <label *ngIf="!jobID" ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'true'"> Applied ({{nbCand?.applied}})
        </label>
        <label *ngIf="!jobID" ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'false'"> Unapplied ({{nbCand?.unapplied}})
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'accepted'"> Accepted ({{nbCand?.accepted}})
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'waiting'"> Waiting ({{nbCand?.waiting}})
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'rejected'"> Rejected ({{nbCand?.rejected}})
        </label>
    </div>
</div>
<div class="row py-3 tabel-container justify-content-center">
    <ng2-smart-table
        [settings]="settings" 
        [source]="allCand"
        (custom)="onAction($event)">
    </ng2-smart-table>
</div>