<div class="row status-btn justify-content-center">
    <div 
        class="btn-group btn-group-toggle mb-3" 
        ngbRadioGroup name="radioBasic" 
        [(ngModel)]="candStatus" 
        (change)="onStatusFilter()">
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="''"> {{'RECRUITER.ALL' | translate}}<span class="all-candidates"> {{'RECRUITER.CANDIDATES' | translate}}</span> ({{nbCand?.total}})
        </label>
        <label *ngIf="!jobID" ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'true'"> {{'RECRUITER.APPLIED' | translate}} ({{nbCand?.applied}})
        </label>
        <label *ngIf="!jobID" ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'false'"> {{'RECRUITER.UNAPPLIED' | translate}} ({{nbCand?.unapplied}})
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'accepted'"> {{'RECRUITER.ACCEPTED' | translate}} ({{nbCand?.accepted}})
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'waiting'"> {{'RECRUITER.WAITING' | translate}} ({{nbCand?.waiting}})
        </label>
        <label ngbButtonLabel class="btn-outline-secondary">
            <input ngbButton type="radio" [value]="'rejected'"> {{'RECRUITER.REJECTED' | translate}} ({{nbCand?.rejected}})
        </label>
    </div>
</div>
<div class="row py-3 tabel-container justify-content-center">
    <ng2-smart-table
        [settings]="settings" 
        [source]="allCand"
        (custom)="onAction($event)">
    </ng2-smart-table>
</div>