<sp-spinner *ngIf="isLoading"></sp-spinner>

<section id="intro">
    <sp-carousel [title]="title" [text]="text"></sp-carousel>
</section>



<section id="resent-job-post" class="background-color-white-drak">
    <div class="container text-center">
        
        <div class="vertical-space-30"></div>
        <h3 class="text-center">Filter Jobs Result</h3>

        <div class="row">
    
            <!-- Filters -->
            <div class="col-lg-4 col-md-12">
                <div class="vertical-space-30"></div>
                <sp-jobs-filters 
                    [filterOptions]="filterOptions" 
                    [checkedValue]="checkedCategory"
                    (filterChoice)="addFilter($event)">
                </sp-jobs-filters>
            </div>

            <!-- Jobs results -->
            <div class="col-lg-8 col-md-12">
                <div class="vertical-space-30"></div>
                <div class="detail" *ngIf="!isLoading && getJobs_error">
                    <h5 *ngIf="getJobs_error">{{getJobs_error}}</h5>
                </div>
                <div *ngIf="jobs.length && !getJobs_error" class="row" style="padding: 1%;">
                    <div class="col-md-6">
                        <h6 class="text-left" style="float: left;"><b>{{nb_jobs}}</b> results</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <label style="margin-right: 3%;">Sorted by: </label>
                        <select class="form-control form-control-sm" (change)="onOrder($event)" style="width: 50%; float: right; background-color: transparent;">
                            <option value="order[createdAt]=desc" selected>Date: newest</option>
                            <option value="order[createdAt]=asc">Date: oldest</option>
                            <option value="order[deadline]=asc">Deadline: soonest</option>
                            <option value="order[deadline]=desc">Deadline: farest</option>
                        </select>
                    </div>
                </div>
                <h5 *ngIf="!jobs.length && !getJobs_error">There are no job offers at the moment.</h5>
                <sp-job-post  *ngFor="let job of jobs" [job]="job"></sp-job-post>
                <div class="vertical-space-20"></div>
                <sp-pagination
                    *ngIf="nb_jobs > nb_jobs_per_page"
                    (pageNumber)="onPage($event)" 
                    [nbItems]="nb_jobs" 
                    [nbItemsPerPage]="nb_jobs_per_page" 
                    [currentPage]="pageParam">
                </sp-pagination>
            </div>

        </div>
    </div>
</section>