    <div class="container background-color-full-white job-Details">
        <div class="Exclusive-Product">
            <div class="d-flex">
                <h3>{{job?.title | titlecase }}</h3>
                <button type="button" (click)="openModal()" class="btn sp-btn-red apply ml-auto" *ngIf="!isApplied && !isRecruiter">Apply</button>
                <button type="button" class="btn btn-secondary ml-auto apply" disabled  *ngIf="isApplied && !isRecruiter"><i class="fas fa-check"></i> Applied</button>
            </div>
            <p> </p>
            <p>
                <i class="fas fa-map-marked-alt"></i>
                <span class="text">  Location: {{job?.location | titlecase }}</span>
            </p>
            <p>
                <i class="fas fa-file-signature"></i>
                <span class="text">  Job Type: {{job?.employmentType | titlecase }}</span>
            </p>
            <p>
                <i class="fas fa-user-shield"></i>
                <span class="text">  Experience: {{job?.seniorityLevel | titlecase }}</span>
            </p>
            <p>
                <i class="far fa-clock"></i>
                <span class="text">  Deadline: {{job?.deadline | date: 'dd MMM yyyy'}}</span>
            </p>
            
        </div>
        <img src="assets/images/job-detail.jpg" alt="" class="job-detail-img">
        <div class="Job-Description">
            <h4>Job Description / Responsibility</h4>
            <p>{{job?.description}}</p>
            <div class="vertical-space-20"></div>
            <h4>Skills & Requirement</h4>
            <ul>
                <li class="list-style" *ngFor="let skill of job?.skills">
                    {{skill?.label}}
                </li>
            </ul>
            <div class="text-center">
            <button type="button" (click)="openModal()" class="btn sp-btn-red apply" *ngIf="!isApplied && !isRecruiter">Apply Now</button>
            <button type="button" class="btn btn-secondary ml-auto apply" disabled *ngIf="isApplied && !isRecruiter"><i class="fas fa-check"></i> Applied</button>
            </div>
        </div>
    </div>

    