<div class="px-5">
    <div class="row">
        <div class="col-md-8">
            <p>
                <i class="fas fa-map-marked-alt"></i>
                <span class="text">  {{ 'JOB_DETAIL.LOCATION' | translate }}: {{job?.location | titlecase }}</span>
            </p>
            <p>
                <i class="fas fa-file-signature"></i>
                <span class="text">  {{ 'JOB_DETAIL.TYPE' | translate }}: {{job?.employmentType | titlecase }}</span>
            </p>
            <p>
                <i class="fas fa-user-shield"></i>
                <span class="text">  {{ 'JOB_DETAIL.EXPERIENCE' | translate }}: {{job?.seniorityLevel | titlecase }}</span>
            </p>
        </div>
        <div class="col-md-4 text-center my-auto">
            <button 
                type="button" 
                (click)="openModal()" 
                class="btn sp-btn-red apply w-50 mb-3" 
                *ngIf="!isApplied && !isRecruiter">
                {{ 'JOB_DETAIL.APPLY' | translate }}
            </button>
            <button 
                type="button" 
                class="btn btn-secondary apply w-50 mb-3" 
                disabled  
                *ngIf="isApplied && !isRecruiter">
                <i class="fas fa-check"></i> {{ 'JOB_DETAIL.APPLIED' | translate }}
            </button>
            <p>
                <span class="text">{{ 'JOB_DETAIL.DEADLINE' | translate }}: {{job?.deadline | date: 'dd MMM yyyy'}}</span>
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <h4 class="my-3">{{ 'JOB_DETAIL.DESC' | translate }}</h4>
            <div [innerHTML]=job?.description></div>
            <h4 class="my-3">{{ 'JOB_DETAIL.SKILLS' | translate }}</h4>
            <ul class="pl-3">
                <li class="list-style" *ngFor="let skill of job?.skills">
                    {{skill?.label}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center my-3">
        <div class="col-md-4 text-center">
            <button 
                type="button" 
                (click)="openModal()" 
                class="btn sp-btn-red apply w-50" 
                *ngIf="!isApplied && !isRecruiter">
                {{ 'JOB_DETAIL.APPLY' | translate }}
            </button>
            <button 
                type="button" 
                class="btn btn-secondary apply w-50" 
                disabled  
                *ngIf="isApplied && !isRecruiter">
                <i class="fas fa-check"></i> {{ 'JOB_DETAIL.APPLIED' | translate }}
            </button>
        </div>
    </div>
</div>