.Exclusive-Product {
    padding-bottom: 2% !important;
    padding-top: 7% !important;
    padding-right: 7% !important;
    padding-left: 7% !important;
}

.Job-Description {
    padding: 5% 7% !important;
}

.apply {
    font-size: 18px;
    font-family: proxima nova rg;
    cursor: pointer;
    font-weight: 700;
    width: 20%;
}