/* You can add global styles to this file, and also import other style files */
@import '~bs-stepper/dist/css/bs-stepper.min.css';
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #525f7f !important;
}

.background-white {
    background: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: #32325d;
}

.sp-btn {
    transition: all .5s ease 0s;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid;
    letter-spacing: .1em;
    font-family: proxima nova alt rg;
    padding: 14px;
    
}

.sp-btn-red {
    color: #fff;
    background: #ba0000;
}

.sp-btn-white {
    background: #fff;
    color: #ba0000;
}

.sp-btn-red:hover {
    background-color:#fff;
    color:#ba0000;
    border:1px solid #ba0000;
    transition:all .5s ease 0s
}

.sp-btn-white:hover {
    background-color:#ba0000;
    color:#fff;
    border:1px solid #ba0000;
    transition:all .5s ease 0s
}

.sp-btn-red:disabled {
    cursor: not-allowed;
    opacity: .65;
    transition: none;
    background-color:#ba0000;
    color:#fff;
}

.sp-border {
    border: 1px solid #f5f5f5;
}