<sp-spinner *ngIf="isLoading"></sp-spinner>
<section id="profile" class="background-color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <sp-identity [identity]="identity"></sp-identity>
                <sp-language [languages]="candidate?.candidateLanguages"></sp-language>
                <sp-skill [skills]="candidate?.candidateSkills"></sp-skill>
            </div>
            <div class="col-md-8">
                <sp-description [description]="resume?.description"></sp-description>
                <sp-education [educations]="resume?.educations"></sp-education>
                <sp-experience [experiences]="resume?.experiences" [resumeID]="resume?.id"></sp-experience>
                <sp-project [projects]="resume?.projects"></sp-project>
            </div>
        </div>
    </div>
</section>