<sp-spinner *ngIf="isLoading"></sp-spinner>
<section id="profile" class="background-color-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <sp-identity [identity]="identity"></sp-identity>
                <sp-language [languages]="resume?.languagesCandidate" [resumeID]="resume?.id"></sp-language>
                <sp-skill [skills]="resume?.skillsCandidate" [resumeID]="resume?.id"></sp-skill>
            </div>
            <div class="col-md-8">
                <sp-description [description]="resume?.description" [resumeID]="resume?.id"></sp-description>
                <sp-education [educations]="educations" [resumeID]="resume?.id"></sp-education>
                <sp-experience [experiences]="experiences" [resumeID]="resume?.id"></sp-experience>
                <sp-project [projects]="resume?.projects" [resumeID]="resume?.id"></sp-project>
            </div>
        </div>
    </div>
</section>