<div class="card-body background-white py-4 px-4 mb-5">
    <section>
        <div class="row">
            <div class="col">
                <div *ngIf="experiences?.length">
                    <header class="d-flex align-items-center mb-4">
                        <h4>Experience</h4>
                        <a href="" class="ml-auto"><i class="fas fa-plus edit-btn-icon"></i></a>
                    </header>
                    <div class="row">
                        <div class="col">
                            <div *ngFor="let exp of experiences">
                                <p class="text-muted">
                                    {{exp.dateStart | date: 'MMM yyyy' }} - {{exp.dateStart | date: 'MMM yyyy' }} / {{exp.location}}
                                </p>
                                <h6><i class="fas fa-briefcase"></i>  {{exp.title}}</h6>
                                <p><i class="fas fa-building"></i>  {{exp.company}}</p>
                                <p>{{exp.description}}</p>
                                <div class="text-right">
                                    <a href=""><i class="fas fa-pen edit-btn-icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!experiences?.length">
                    <div class="row align-items-center">
                        <div class="col-md-2 text-center">
                            <img src="assets/images/icone/Experience.svg" alt="graduation">
                        </div>
                        <div class="col-md-8">
                            <h5 class="mb-4">Hey, this is quite empty here!</h5>
                            <p>An internship? Some jobs? Add here everything that you have experienced in the past.</p>
                        </div>
                        <div class="col-md-2 text-center">
                            <button class="sp-btn sp-btn-red"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>