<div class="card">
    <div class="card-header bg-white">
        <h3>{{'ALL_JOBS.LIST_JOBS' | translate}}</h3>
    </div>
    <div class="card-body">
        <div class="row status-btn justify-content-center">
            <div 
                class="btn-group btn-group-toggle mb-3" 
                ngbRadioGroup name="radioBasic" 
                [(ngModel)]="jobStatus" 
                (change)="onStatusFilter()">
                <label ngbButtonLabel class="btn-outline-secondary">
                <input ngbButton type="radio" [value]="''"> {{'JOB_STATUS.ALL' | translate}}<span class="jobs"> {{'JOB_STATUS.JOBS' | translate}}</span> ({{allJobsNb}})
                </label>
                <label ngbButtonLabel class="btn-outline-secondary">
                    <input ngbButton type="radio" [value]="'open'"> {{'JOB_STATUS.OPEN' | translate}}<span class="jobs"> {{'JOB_STATUS.JOBS' | translate}}</span> ({{nbJobs?.open}})
                </label>
                <label ngbButtonLabel class="btn-outline-secondary">
                <input ngbButton type="radio" [value]="'closed'"> {{'JOB_STATUS.CLOSED' | translate}}<span class="jobs"> {{'JOB_STATUS.JOBS' | translate}}</span> ({{nbJobs?.closed}})
                </label>
                <label ngbButtonLabel class="btn-outline-secondary">
                <input ngbButton type="radio" [value]="'saved'"> {{'JOB_STATUS.SAVED' | translate}}<span class="jobs"> {{'JOB_STATUS.JOBS' | translate}}</span> ({{nbJobs?.saved}})
                </label>
            </div>
        </div>
        <div class="row py-3 table-container">
            <ng2-smart-table
                [settings]="settings" 
                [source]="allJobs"
                (custom)="onAction($event)">
            </ng2-smart-table>
        </div>                        
    </div>
</div>