<div class="card">
    <div class="card-header bg-white">
        <h3>List of jobs</h3>
    </div>
    <div class="card-body">
        <div class="row status-btn justify-content-center">
            <div 
                class="btn-group btn-group-toggle mb-3" 
                ngbRadioGroup name="radioBasic" 
                [(ngModel)]="jobStatus" 
                (change)="onStatusFilter()">
                <label ngbButtonLabel class="btn-outline-secondary">
                <input ngbButton type="radio" [value]="''"> All<span class="jobs"> Jobs</span> ({{allJobsNb}})
                </label>
                <label ngbButtonLabel class="btn-outline-secondary">
                    <input ngbButton type="radio" [value]="'open'"> Open<span class="jobs"> Jobs</span> ({{nbJobs?.open}})
                </label>
                <label ngbButtonLabel class="btn-outline-secondary">
                <input ngbButton type="radio" [value]="'closed'"> Closed<span class="jobs"> Jobs</span> ({{nbJobs?.closed}})
                </label>
                <label ngbButtonLabel class="btn-outline-secondary">
                <input ngbButton type="radio" [value]="'saved'"> Saved<span class="jobs"> Jobs</span> ({{nbJobs?.saved}})
                </label>
            </div>
        </div>
        <div class="row py-3 table-container">
            <ng2-smart-table
                [settings]="settings" 
                [source]="allJobs"
                (custom)="onAction($event)">
            </ng2-smart-table>
        </div>                        
    </div>
</div>