<!-- <sp-spinner *ngIf="isLoading"></sp-spinner> -->
<div class="px-3">
    <div class="modal-header border-none pb-0">
        <h4 class="modal-title" id="modal-basic-title">{{'SKILLS.SKILL' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <sp-error-msg *ngIf="errorMsg" [errorMsg]="errorMsg"></sp-error-msg>
    <form [formGroup]="skillForm" (ngSubmit)="save()">
    
        <div class="modal-body">
            <div class="form-group">
                <label for="inputLabel">{{'SKILLS.SKILL' | translate}}: <span class="obligatory">*</span></label>
                <select 
                    formControlName="id"
                    class="form-control"
                    [ngClass]="{'is-valid': skillForm.get('id').valid,
                                'is-invalid': !skillForm.get('id').valid && skillForm.get('id').touched}"
                >
                    <option *ngFor="let skill of allSkills" value="{{skill.id}}">{{skill.label}}</option>
                </select>
                <div class="invalid-feedback mt-3">
                    {{'SKILLS.SKILL_REQUIRED' | translate}}.
                </div>
            </div>
            <div class="form-group">
                <label for="inputProficiency">{{'SKILLS.PROFICIENCY' | translate}}: <span class="obligatory">*</span></label>
                <select 
                    formControlName="proficiency"
                    class="form-control"
                    [ngClass]="{'is-valid': skillForm.get('proficiency').valid,
                                'is-invalid': !skillForm.get('proficiency').valid && skillForm.get('proficiency').touched}"
                >
                    <option value="Basic knowledge">Basic knowledge</option>
                    <option value="novice">novice</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Expert">Expert</option>
                </select>
                <div class="invalid-feedback mt-3">
                    {{'SKILLS.PROFICIENCY_REQUIRED' | translate}}.
                </div>
            </div>
        </div>
        <div class="modal-footer border-none pt-0">
            <button type="submit" class="btn sp-btn-red"[disabled]="!skillForm.valid || isLoading">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {{'SAVE' | translate}}
            </button>
        </div>

    </form>
</div>